[2013-08-21 17:19] greyblake opened #2 "Demo example"
I'm trying to use demo example from the webpage(http://rom-rb.org/).

But looks like the only version of rom released is 0.0.1 and package is empty except `LICENSE` and `README.md` files.

Using git repos in Gemfile also didn't help:

[code]

[code]

It would be good to have some wiki with HOWTO to setup development environment.

[2013-08-27 16:28] limhoff-r7 opened #3 "No documentation for associations/foreign key joins"
The [roadmap](http://rom-rb.org/roadmap/) says that associations should be supported, but I can't find any documentation on how to do more than one model in one repository in any of the examples.  How do I declare associations and/or foreign keys for joins?  The last code I could find was this: https://github.com/rom-rb/rom-relation/commit/38136a84dc2e6992a900fea608cce651f4a9ad40 , but there's no

[2013-09-02 09:38] #2 closed, assigned to nobody

[2013-09-03 09:33] solnic opened #4 "Support for defining model in mapping as a string"
This also requires finalization when models are constantize.
- [ ] support defining models as strings
- [ ] add `Environment#finalize` that will constantize all the models that were defined as strings

[2013-09-03 09:39] solnic opened #5 "Add support for configuring loaders when setting up mapping"
Possible interface ideas:

[code]

[2013-09-06 15:52] valikos opened #6 "Schema attributes"
Hello there!

I have a question about attributes
We have a schema

[code]

Is there a way to take the attributes and pass them to the model? Because we can have a lot of attributes

[code]

Or whether in ROM support of Virtus for extend model?

[2013-09-07 21:14] #6 closed, assigned to nobody

[2013-11-05 15:38] dnesteryuk opened #8 "ROM doesn't work with relation database"
Hello team,

I tried to use ROM with simple Sqlite database, but it doesn't work. My code:

[code]

The error which I receive:

[code]

Should it work? Or may be it is not supported yet?

[2013-12-08 19:08] plexus opened #10 "rom-mapper uses Axiom::Relation without specifying it as a dependency"
In [ROM::Mapper::Header, line 19](https://github.com/rom-rb/rom-mapper/blob/master/lib/rom/mapper/header.rb#L19) a call is made to `Axiom::Relation::Header.coerce`, however Axiom is not listed in the gemspec of rom-mapper, or loaded in `rom-mapper.rb`.

[2014-01-08 15:02] valikos opened #11 "rom-relation bug with axiom"
I just install latest rom gem and receive this strange error after requiring 'rom' in irb

[code]

I'm confused because I am watching on installed source code of `axiom-0.1.1/lib/axiom/support/equalizer.rb` file

[code]

and source on github

[code]

I'm have this problem on three different workstations.
Sorry if this problem does not apply to rom project, because it is related with axiom.

[2014-01-20 22:46] #10 closed, assigned to nobody

[2014-01-24 12:48] solnic opened #12 "Collapse relation, mapper and session into a single repo"
[Refactoring](https://github.com/rom-rb/rom-mapper/pull/7) in rom-mapper made me realize it's really a good idea to collapse all 3 pieces into a single repo as there are still way too many moving parts and I find it a PITA to manage 4 projects separately. It would also give better visibility of what you are breaking when introducing refactorings like in [this branch](https://github.com/rom-rb/rom-

[2014-01-24 20:54] #12 closed, assigned to nobody

[2014-03-07 11:14] dnesteryuk opened #15 "An array of elements as an attribute"
Before you had renamed this project to Rom, I had possibility to use Virtus which provides very handy features:

[code]

Do we have such possibility now with Rom? Unfortunately, now we have to describe attributes in a schema. It means we cannot use Virtus anymore, only attributes provided by Rom/Axiom.

Thanks.

[2014-03-19 12:25] #11 closed, assigned to nobody

[2014-03-30 16:08] daz-codes opened #19 "Error Message When Running Example"
When I require the code from the example on the ReadMe page in IRB, I get the following error:

NameError: undefined local variable or method `include_comparison_methods' for #Axiom::Equalizer:0x927235c

Do I need to change anything?

[2014-03-30 16:10] #19 closed, assigned to nobody

[2014-04-06 12:59] solnic opened #20 "Investigate possible performance problems"
Here are results of benchmarks/basic.rb

[code]

It seems like this grows exponentially. I'm attaching perftools results with focus on Axiom.

![rom_profile](https://cloud.githubusercontent.com/assets/1066/2625289/320772da-bd8b-11e3-902e-475e598b7acb.gif)

[2014-04-07 09:36] dnesteryuk opened #21 "Rom doesn't do auto mapping on restriction?"
Hello team,

Today I tried to use Rom 0.2.0 and I found that we have to do manual mapping to map attributes:

[code]

Before, that upgrade it worked without explicit calling the rename method, now it is required to get a proper field name in DB.

Is there any possibility to get auto-mapping while defining restriction?

Thank you for your hard work!!!

[2014-04-07 13:31] #21 closed, assigned to nobody

[2014-04-09 04:20] jwright opened #22 "ROM does not save using axiom-do-adapter"
I have the following environment defined (the same as [the example](http://rom-rb.org/)):

[code]

I then try to use a `session` to insert a new record.

[code]

This does not error out but the record is never saved to the sqlite database. I tried the saving a slot with the [example repo](https://github.com/solnic/rom-demo/blob/master/examples/sqlite.rb) but no luck either.

Is this feature suppor

[2014-04-16 10:50] solnic opened #23 "Add CONTRIBUTING.md"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1690583-add-contributing-md?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).
</bountysource-pl

[2014-10-21 09:35] #22 closed, assigned to nobody

[2014-10-21 09:36] #20 closed, assigned to nobody

[2014-10-21 09:36] #8 closed, assigned to nobody

[2014-10-21 09:36] #15 closed, assigned to solnic

[2014-10-21 09:38] #3 closed, assigned to nobody

[2014-10-21 09:38] #4 closed, assigned to nobody

[2014-10-21 09:38] #5 closed, assigned to nobody

[2014-10-21 10:46] solnic opened #30 "Make tests pass on jruby"
There's a gem configuration problem with sequel and sqlite3.

[2014-10-21 10:53] solnic opened #31 "Add adapter layer"
Required interface is `#each` + yielding hash-like objects.

[2014-10-21 10:54] solnic opened #32 "Add sequel adapter"

[2014-10-21 10:55] solnic opened #33 "Add redis adapter"
Initial work on the adapter already started in [rom-rb/rom-redis](https://github.com/rom-rb/rom-redis) - we're looking for people interested in helping out there!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5423031-add-redis-adapter?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept

[2014-10-21 10:57] solnic opened #34 "Import DSL for defining schema from master"
This will require some tweaking to make it work with new adapters.

[2014-10-21 10:58] solnic opened #35 "Add a new DSL for defining mappers"
Initially let's just support `model.new(tuple)` and we can extend it in the future versions to support more advanced mapping with coercions and whatnot.

[2014-10-21 11:16] solnic opened #36 "DSL for in-memory relations"
Here's an idea I have how we could define in-memory relations that can span multiple repositories:

[code]

[2014-10-21 16:14] #32 closed, assigned to nobody

[2014-10-21 16:14] #31 closed, assigned to nobody

[2014-10-21 16:15] #34 closed, assigned to nobody

[2014-10-21 16:15] #35 closed, assigned to nobody

[2014-10-21 16:15] solnic opened #37 "Extend sequel adapter to support connecting to all RDBMS"

[2014-10-21 21:17] solnic opened #38 "Add support for defining context-aware relations"
This means something more or less like this (DSL ideas are welcome!):

[code]

[2014-10-23 08:27] solnic opened #39 "Add automatic schema inferring for Sequel adapter"

[2014-10-23 08:31] solnic opened #40 "Add model builder"
Writing model classes is tedious. When you have a schema in place in most of the cases you can and you probably want to simply get the model classes generated for you.

[2014-10-23 18:16] #30 closed, assigned to nobody

[2014-10-23 21:24] solnic opened #42 "Add ability to call env#relations multiple times"
This will make it possible to define relations in separate files.

[2014-10-24 03:02] postmodern opened #43 "Add support for DataObjects"
Support the old [DataObjects](https://github.com/datamapper/do) adapter libraries. They were a pretty solid set of C-exts and Java-exts.

[2014-10-24 03:12] postmodern opened #44 "Add migration layer/library"
There should be some sort of either explicit and/or automatic migration support. Ideally with the following features:

1. Ability to easily define migrations via a DSL syntax.
  * Syntax should be easy enough to define one-off migrations in `irb` or define complex migrations for `db/migrations/`.
2. Ability to convert ROM Schema objects into adapter specific schema objects.
  * Example of this wou

[2014-10-24 09:53] solnic opened #45 "Add a way to extend a relation with adapter-specific helper interfaces"
Building complex queries with adapters could be simplified using higher-level interfaces. For example when using Sequel adapter we could have a set of methods for easier joins where details like correct column names and join keys are being set automatically.

It is, however, a rabbit hole in the long term but it's something to consider nevertheless. I believe if we narrow down the functionality to

[2014-10-24 11:29] solnic opened #46 "Write a nice README"
The README should explain the philosophy behind the project, main differences between ROM and other typical ruby ORMs and show how to quickly get started with ROM showing some basic examples. It should also have a nice CREDITS section mentioning DM2, Axiom and people behind all the initial efforts.

/cc @elskwid HELP NEEDED HERE :)

<bountysource-plugin>
---
Want to back this issue? **[Post a boun

[2014-10-24 11:35] solnic opened #47 "Unify and DRY-up registry objects"
There's a lot of duplication in schema, relation and mapper registry classes. Would be nice to come up with a common abstraction and use inheritance here to dry-up this mess.

[2014-10-24 14:06] solnic opened #48 "Define interfaces for accessing schema, relations and mappers"
Currently env object gives access to all the registries:

[code]

Here's a couple of potential improvements:
- make it possible to access relations directly via `env` object ie `env.users` since that's the top level public relation registry we want to use on the application level
- make `Env#mappers` private and come up with a better interface for accessing mapped relations (I don't like `env.rela

[2014-10-24 14:36] solnic opened #49 "Add YARD docs"

[2014-10-24 15:56] solnic opened #50 "Add relation#insert and mapper#insert"
A common pattern is to insert a tuple into a relation and get an object back. In case of Sequel adapter we get the PK value back so a sequel mapper should be able to build a newly persisted object and return it back:

[code]

[2014-10-24 18:25] #50 closed, assigned to nobody

[2014-10-25 19:42] solnic opened #52 "Improve and extend mapper definition DSL"
Main motivation behind this DSL is to have a simple way of defining how relations are mapped to ruby objects. I'd like to make it as concise as possible and automate as much as possible. I can imagine implementing entity classes is a tedious thing to do and personally I'd prefer ROM to generate them for me, however, I can also see the need for having an ability to re-open those classes to add some

[2014-10-29 11:54] #36 closed, assigned to nobody

[2014-10-29 11:57] solnic opened #53 "Improve how headers are handled"
- [x] add a sane interface to `Header` class so that accessing attribute information is simple
- [x] add `Header::Attribute` and subclasses for primitive and embedded types
- [x] add `#header` to adapter and in-memory RA layers so that it is always possible to ask for the header attributes
- [x] simplify how attributes are handled in mapper/reader/model builders thanks to the improved header inter

[2014-10-30 15:16] #39 closed, assigned to solnic

[2014-10-31 10:50] solnic opened #55 "Improve how adapters are being loaded"
- [ ] every adapter should register itself so that finding an adapter class based on scheme doesn't require a gigantic case statement, something like `Adapter.register(self)` would do the trick
- [ ] add an identifier to every adapter sub-class so that we can easily find correct class based on uri's schema (something like `Adapter::Sequel.schema` that returns an array of supported schemas like `['

[2014-10-31 11:27] #38 closed, assigned to solnic

[2014-11-02 22:06] #37 closed, assigned to nobody

[2014-11-02 22:07] #55 closed, assigned to nobody

[2014-11-04 11:39] #53 closed, assigned to solnic

[2014-11-04 11:42] #52 closed, assigned to solnic

[2014-11-04 11:44] solnic opened #58 "Add support for "wrap" operation"
This is also known as "embedded objects":

[code]

[2014-11-04 11:46] solnic opened #59 "Add support for defining a model for group/wrap operations"
For consistency this should be similar to model definition interface:

[code]

[2014-11-04 11:51] solnic opened #60 "Add support for coercions"
Currently mapper definition interface only allows to specify what attributes should be mapped. It would be nice to be able to specify coercions too. How those coercions are going to be handled will depend on the model builder type. In case of PORO we could have something trivial like relying on built-in coercion methods in ruby, for Virtus builder we can simply use its type-definition system, more

[2014-11-04 11:53] solnic opened #61 "Add support for renaming attributes"
A common mapper feature is to rename an attribute in the result tuple. Interface idea:

[code]

[2014-11-04 11:57] solnic opened #62 "Add support for tuples with string keys"
Some database drivers return tuples with string keys, like moped for example. This could affect the model builder if it expects symbolized tuples. This could be improved by either symbolizing keys before returning the tuples from relation (configurable on the adapter level) or tweaking model builders so that they can support either symbolized or stringified keys.

[2014-11-04 11:58] solnic opened #63 "Add support for defining model constants inside a namespace"
Right now only `model name: "User"` works but it would blow up with `model name: "Entities::User"`

[2014-11-04 12:02] solnic opened #64 "Data manipulation interface"
For now ROM will simply leak the underlaying data manipulation interface coming with the adapter. For instance in case of Sequel you can simply use `insert`, `update` and `delete` and it's your job to encapsulate that somehow. I can imagine that it should be possible to come up with some conventions for dealing with data manipulation using adapters so that it's easier to achieve nice encapsulation

[2014-11-05 13:45] solnic opened #66 "Add ArangoDB adapter"
##

[2014-11-05 13:45] solnic opened #67 "Add RethinkDB adapter"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5782582-add-rethinkdb-adapter?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).
</bountysource-

[2014-11-05 13:45] solnic opened #68 "Add Riak adapter"
##

[2014-11-05 13:46] solnic opened #69 "Add Neo4j adapter"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/5782593-add-neo4j-adapter?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).
</bountysource-plug

[2014-11-05 23:43] #58 closed, assigned to solnic

[2014-11-06 00:12] #61 closed, assigned to nobody

[2014-11-11 20:03] solnic opened #71 "Add support for :prefix option to group/wrap"

[2014-11-11 23:58] #47 closed, assigned to nobody

[2014-11-12 11:34] #42 closed, assigned to nobody

[2014-11-20 14:50] #49 closed, assigned to solnic

[2014-11-25 21:45] solnic opened #72 "Add support for logging"
It should be possible to configure a logger for a specific adapter during the setup phase.

[2014-11-28 10:26] #72 closed, assigned to nobody

[2014-12-05 13:10] #64 closed, assigned to nobody

[2014-12-05 18:21] #48 closed, assigned to nobody

[2014-12-05 18:22] #40 closed, assigned to nobody

[2014-12-08 17:05] #45 closed, assigned to nobody

[2014-12-11 13:36] #43 closed, assigned to nobody

[2014-12-14 14:50] dnesteryuk opened #74 "Can we define schema from a few places?"
It looks like now we can define a schema only in one place:

[code]

In our project we have 20+ models, it isn't convenient way to define everything in one file. Unfortunately, this way doesn't work:

[code]

The error which I receive:

[code]

It looks like from the code https://github.com/rom-rb/rom/blob/master/lib/rom/boot.rb#L41-44 It resets the schema when you try to use `schema` method at se

[2014-12-15 12:06] #74 closed, assigned to nobody

[2014-12-18 12:03] #59 closed, assigned to nobody

[2014-12-19 13:10] #63 closed, assigned to nobody

[2014-12-19 13:12] #62 closed, assigned to nobody

[2014-12-23 16:00] dnesteryuk opened #78 "Nested attributes stopped working"
It worked fine with Rom 0.4.1 and it stopped working with Rom 0.4.2 (code from master doesn't work either for this purpose).

Example:

[code]

The expected response:

[code]

This code returns nil

[code]

[2014-12-23 18:47] #78 closed, assigned to nobody

[2014-12-29 00:31] #60 closed, assigned to nobody

[2014-12-29 17:21] #71 closed, assigned to nobody

[2015-01-01 01:15] solnic commented on #46
@elskwid now we gotta do something with this one ha-ha ;)

[2015-01-02 13:25] kwando opened #80 "ROM::NoRelationError, `method_missing': undefined relation :to_ary"
[code]
This fails with the following error:
[code]
I think ```puts``` is doing some magic in order to print this stuff.. though it breaks rom in a non obvious way.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7437221-rom-norelationerror-method_missing-undefined-relation-to_ary?utm_campaign=plugin&utm_content=tracker%2F155789&utm

[2015-01-02 13:28] solnic commented on #80
Thanks for reporting. That's weird, reader is an enumerable and it implements each so I would expect this to work. I will look into it.

[2015-01-02 13:31] solnic commented on #80
OK I guess I need to `alias_method :to_ary, :to_a` there. Fix, or rather new feature, is coming in...;)

[2015-01-02 13:50] #80 closed

[2015-01-02 14:34] solnic opened #81 "Add a lint test for adapters"
To make it easy for people to create adapters we should have some kind of a lint test that checks that the bare minimum interface is implemented and works correctly.

We could have a shared rspec test or some test-framework agnostic solution.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7438366-add-a-lint-test-for-adapters?utm_cam

[2015-01-02 15:00] elskwid commented on #81
[active_model/lint](https://github.com/rails/rails/blob/master/activemodel/lib/active_model/lint.rb) is an example of one way to do this.

I don't know *how* it should be used since it would be best to support any test framework. Probably be nice to have a linter that is framework agnostic as @solnic mentioned and include a couple of ways to aid in testing with `rspec` and `minitest` for example.

[2015-01-02 15:02] solnic commented on #81
@elskwid framework-agnostic would probably simply mean using test/unit. I think this is actually a high priority task. We need as many adapters as possible to prove that ROM's design isn't blocking anything and is flexible enough...

[2015-01-02 15:18] kwando opened #82 "Raise some kind of error on reserved repository names"
[code]
This blows up with the following error:
[code]

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7439082-raise-some-kind-of-error-on-reserved-repository-names?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2015-01-02 15:23] solnic commented on #82
This is a nasty gotcha where config-parsing class thinks "database" key means it's a hash coming from a database.yml file. This needs to be improved so that a user gets a nice error message that "database" is a reserved key.

[2015-01-02 15:35] kwando commented on #80
Goodie =)

[2015-01-03 12:12] alpardal opened #83 "Cannot use methods in block passed to `CommandRegistry#try`"
Since the block passed to ```ROM::CommandRegistry#try``` is ```instance_eval```'d, I cannot use methods visible to the caller inside the block. For example:

[code]
raises
```ROM::Registry::ElementNotFoundError:  :task_attributes doesn't exist in ROM::CommandRegistry registry```

I think it'd be better if the eval context were a block param:

[code]

What do you think?

<bountysource-plugin>

---

[2015-01-03 13:01] splattael commented on #83
Hi @alpardal,

actually we could do both depending on the context:

### No args provided -> `instance_eval`

Current behaviour.

[code]

### Args provided -> call with `self`

[code]

One possible implementation might be [yield_or_eval](https://github.com/tj/terminal-table/blob/ae5504768a9828615e6194e208b762718dc0fe6c/lib/terminal-table/table.rb#L207..L214).

WDYT?

[2015-01-03 13:31] solnic commented on #83
@splattael I love this idea. It's more flexible.

Let me just show you *why* I did it like it is now, here's how I use commands:

[code]

There a couple of things here:

* I don't use strong params
* I use virtus params object to deal with input (that's set on the create command using `input` dsl)
* I always pass input to the method so it's visible within the block
* I never call anything inside t

[2015-01-03 13:59] alpardal commented on #83
@solnic I agree with your points, it's just that ```instance_eval``` breaks, IMO, the "expected" behavior, and may surprise new users.
@splattael I like ```yield_or_eval```: simple to change and doesn't break the current api.

[2015-01-03 14:00] solnic commented on #83
Yep totally, hence :+1: for this change from my side :smile:

[2015-01-03 16:24] #83 closed

[2015-01-03 16:40] splattael commented on #83
@alpardal Done. Mind trying `master` and give feedback? :smile:

[2015-01-03 18:14] elskwid opened #86 "Provide help for adapter development"
Yesterday I spent way too much time, mostly my fault, getting `rom-csv` started. @solnic and I think that `rom` can help in a few ways. In what ways can it help?

## linting
We are already thinking about a linter in #81. This would give some good feedback on whether or not an adapter meets the basic requirements of `rom`. That conversation will happen over there.

## common functionality
ROM alrea

[2015-01-03 18:50] elskwid commented on #81
From our conversation yesterday, I'd like to see this part _specification_ and part runnable spec. Basically, set it up so the comments/docs are like reading the specification for an adapter:

I'd recommend we follow [RFC 2119](http://tools.ietf.org/html/rfc2119) for requirement key words:

[code]

For each requirement we should have a runnable piece of code. I agree that test/unit would be nice s

[2015-01-03 19:36] chenge opened #88 "Where does the rom variable in controller come from ?"
Could I ask here?

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7461614-where-does-the-rom-variable-in-controller-come-from?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&ut

[2015-01-03 19:38] solnic commented on #88
It's a method defined by [rom-rails](https://github.com/rom-rb/rom-rails) railtie. It defines it on `ApplicationController`

[2015-01-03 21:20] chenge commented on #88
QUESTION is, remove the require, why the test passed?

module RomTodoApp
  class Application < Rails::Application
    #require 'rom-rails'

[2015-01-03 21:25] solnic commented on #88
probably because bundler requires it anyway

[2015-01-03 23:02] solnic commented on #81
I think I'm gonna get this started today but my t/u fu sucks. You have been warned ;)

[2015-01-04 00:45] solnic commented on #88
I'm going to close this issue. If you see any weird behavior and think there's a bug please report it under [rom-rails](https://github.com/rom-rb/rom-rails/issues) project.

[2015-01-04 00:45] #88 closed

[2015-01-04 02:23] solnic commented on #86
I believe the most important thing from this list is ironing out a pattern for proxy (some data-pipe kind of a thing) and a common dataset superclass for adapters that happen to use enumerable datasets. This should make it much easier to write a new adapter that provides a dataset out-of-the-box. I also don't think that Charlatan is a good solution here, I've got a feeling we should have something

[2015-01-04 11:06] alpardal commented on #83
@splattael Looking good, thank you :+1:

[2015-01-05 17:36] solnic commented on #81
@elskwid how do I approach this must/should/may/must not concept using minitest?

[2015-01-05 17:37] solnic commented on #81
...I mean, must/must not are obvious but "may" and "should"??

[2015-01-05 17:39] elskwid commented on #81
@solnic Off the top of my head: we would have tests for MUST and MUST NOT then if there are things that MAY and SHOULD be added this could be the configuration we discussed. For instance, an adapter MAY allow writing back to the underlying data store. Is there a test for when it can handle that? If so, then we somehow tell the tests that it's available for linking.

[2015-01-05 18:20] solnic commented on #81
@elskwid ah gotcha, I forgot that we talked about this, geez. I'll add a way to configure the test case class

[2015-01-07 10:47] solnic commented on #86
OK so now we have something like this:

[code]

This means if you're building an adapter that wraps some array-like object then this module is very handy. If the data object is not an array-like object but it implements enumerable interface then you can do `include EnumerableDataset`.

[2015-01-07 11:04] aflatter opened #92 "Support for reading ActiveRecord configuration is incomplete"
There's multiple issues to be covered here:

- [x] `adapter` field set to `postgresql` is not supported yet
- [ ] ActiveRecord explicitely relies on the API of `libpq` as documented [here](https://www.omniref.com/ruby/gems/activerecord/4.1.5/files/lib/active_record/connection_adapters/postgresql_adapter.rb#line=262). You'll get faulty behavior if you omit one of the following fields in your `datab

[2015-01-07 11:49] solnic opened #93 "Add required ruby version to gemspec"
<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7557859-add-required-ruby-version-to-gemspec?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)

[2015-01-07 23:35] cored commented on #46
@solnic is there some progress on this or something from where I can extract info. I want to learn more about the philosophy that you mention in here.

[2015-01-09 17:36] bryanp commented on #33
Hello, all! I'd like to jump in and help write a Redis adapter for ROM. It ties in with some things I've been working on, and while Ohm is fantastic I'd like to be able to use Redis via ROM.

I've reviewed the existing adapters (primarily rom-sql) and have a decent handle on how to go about building a rom-redis adapter based on the information in this thread. I'd like to start down the path of bui

[2015-01-09 17:46] solnic commented on #33
@bryanp hey! that's awesome news. I'm a total redis n00b so I can only help you with ROM-specific stuff.

The best starting point is to make it possible to configure a connection with default options and come up with a basic dataset class. If it can be an array-like object you can use a helper module like described in #86. If you can come up with some interface that connects to redis and returns d

[2015-01-09 19:19] bryanp commented on #33
We'll make a good team then! I'm a ROM noob but more experienced in Redis :)

Will do some preliminary work in the next few days and shoot you a note when there's something to look at.

[2015-01-09 19:25] solnic opened #94 "Adapter shouldn't equalize on connection"
It is currently not guaranteed that `connection` in an adapter is not mutable, furthermore `connection` isn't really a required interface (it was put into abstract adapter as all existing adapters are setting a connection but it's probably a good idea to remove it and let individual adapters handle their connection-related concerns themselves). Because of this we shouldn't equalize using `connecti

[2015-01-09 19:27] solnic commented on #33
Sounds like a good plan :)

[2015-01-09 19:31] aflatter commented on #94
I'm for removing `connection` from the abstract adapter. Additionally, I'm still of the opinion that in case of this bug object identity would have been the better default, because that's what we expect. Equality on `uri` and `options` might shadow similar issues, e.g. hidden state in the adapter where ROM assume's there is none.

+1 for not having to override `#initialize`.

[2015-01-09 19:48] solnic commented on #94
@aflatter just spent some time thinking about this and you're right, this would be a big assumption and even if we freeze them it might cause issues, so we would have to dup them before freezing, also we would have to deep-freeze them as we're talking about an option *hash* here, so, more complexity.

I'll just remove equalizer (bye bye nice inspect ;))

[2015-01-09 20:11] aflatter commented on #94
You could use equalizer on `object_id` I guess ;-)

[2015-01-09 20:40] solnic commented on #94
@aflatter that won't work as equalizer defines [hash](https://github.com/dkubb/equalizer/blob/master/lib/equalizer.rb#L65-L70) method which is used internally in `Hash#[]` IIRC

[2015-01-10 20:49] solnic opened #95 "Add FaunaDB adapter"
- faunadb.com
- https://github.com/faunadb/faunadb-ruby

It supports some neat features. Would be lovely to build an adapter for it
##

[2015-01-10 21:28] #94 closed

[2015-01-11 02:13] aflatter commented on #94
So we're not removing `connection`?

[2015-01-11 10:13] solnic commented on #94
I'm not sure yet :) So far all adapters need to set up some kind of a "connection".

[2015-01-11 11:39] solnic commented on #86
Do you think all adapters will always need a "connection" concept? So far it is true but maybe that's not a good assumption? Right now abstract adapter provides `:connection` reader and calls `setup_connection` hook in the constructor (which is a no-op by default, so it's not required to implement it). Nice thing about it is that a specialized adapter no longer has to override constructor to setup

[2015-01-11 11:40] solnic commented on #94
@aflatter I followed up with connection-related discussion in #86

[2015-01-12 22:40] aflatter opened #100 "Don't choke on missing database.yml"
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [solnic](https://github.com/solnic)**
_Friday Jan 02, 2015 at 20:01 GMT_
_Originally opened as https://github.com/rom-rb/rom-rails/issues/10_

----

Setup should be simply skipped with a warning that there's no config file

<bountysou

[2015-01-12 22:40] aflatter commented on #100
<a href="https://github.com/aflatter"><img src="https://avatars.githubusercontent.com/u/168?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [aflatter](https://github.com/aflatter)**
_Wednesday Jan 07, 2015 at 18:41 GMT_

----

I guess in the preparation phase (before initializers run) we'd just not define a default repository. If initializers don't configure a reposito

[2015-01-12 22:40] aflatter commented on #100
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Wednesday Jan 07, 2015 at 20:14 GMT_

----

Yes that sounds correct

[2015-01-12 22:40] aflatter opened #101 "How to handle uniqueness constraints?"
<a href="https://github.com/mcls"><img src="https://avatars.githubusercontent.com/u/714734?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mcls](https://github.com/mcls)**
_Sunday Jan 11, 2015 at 11:05 GMT_
_Originally opened as https://github.com/rom-rb/rom-rails/issues/14_

----

I saw `validates_uniqueness_of` doesn't work.
I'm guessing this is because it requires ac

[2015-01-12 22:40] aflatter commented on #101
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 11:32 GMT_

----

That's why you have separate validator objects. It's not an optimal solution but I've found it to be a good fit in Rails context. Here's how you could d

[2015-01-12 22:40] aflatter commented on #101
<a href="https://github.com/mcls"><img src="https://avatars.githubusercontent.com/u/714734?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mcls](https://github.com/mcls)**
_Sunday Jan 11, 2015 at 11:45 GMT_

----

Ok, that makes sense :smiley:

Now I'm confused about the `ActiveModel::Validations` being defined on the params/input object instead of the validator.

Is

[2015-01-12 22:40] aflatter commented on #101
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 11:50 GMT_

----

The reason for that is to meet Rails expectations which as an object with attributes *and* errors :( This way it Just Works™ with form helpers and libra

[2015-01-12 22:40] aflatter commented on #101
<a href="https://github.com/mcls"><img src="https://avatars.githubusercontent.com/u/714734?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [mcls](https://github.com/mcls)**
_Sunday Jan 11, 2015 at 12:15 GMT_

----

Ok, so I got this to work after accounting for a subtle issue.

In rails `#valid?` clear the errors first (see https://github.com/rails/rails/blob/v4.1.7.1/

[2015-01-12 22:40] aflatter commented on #101
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 12:18 GMT_

----

@mcls oh sorry, totally forgot about raising the error part :) I reported a related issue which describes potential improvements => #15

[2015-01-12 22:40] aflatter opened #102 "Separate input params and validation logic"
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 12:01 GMT_
_Originally opened as https://github.com/rom-rb/rom-rails/issues/15_

----

Many people have been confused about params and validations being mixed together. Rig

[2015-01-12 22:40] aflatter commented on #102
<a href="https://github.com/stevehodgkiss"><img src="https://avatars.githubusercontent.com/u/62331?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [stevehodgkiss](https://github.com/stevehodgkiss)**
_Sunday Jan 11, 2015 at 12:20 GMT_

----

The way I see it is validation on input params should be context free. The validation for uniqueness (and other contextual validat

[2015-01-12 22:40] aflatter commented on #102
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 12:26 GMT_

----

@stevehodgkiss yeah rom-sql command catches low-level constraint violations and return an error back for further handling in the application layer. See

[2015-01-12 22:40] aflatter commented on #102
<a href="https://github.com/solnic"><img src="https://avatars.githubusercontent.com/u/1066?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [solnic](https://github.com/solnic)**
_Sunday Jan 11, 2015 at 12:28 GMT_

----

btw that's why I started with validations on input params and a separate validator object for use-case specific validations (aka contextual). But it tur

[2015-01-12 22:43] aflatter opened #103 "Support having one file per relation"
<a href="https://github.com/aflatter"><img src="https://avatars.githubusercontent.com/u/168?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [aflatter](https://github.com/aflatter)**
_Wednesday Jan 07, 2015 at 10:39 GMT_
_Originally opened as https://github.com/rom-rb/rom-yaml/issues/1_

----

It'd be great to support one YAML file per relation too!

<bountysource-plugin>

[2015-01-13 08:02] solnic commented on #103
This is very simple to add. We just need to agree on the interface / options. How about this:

[code]

[2015-01-13 08:13] cheba commented on #103
Why don't we have both?
[code]

[2015-01-13 08:54] solnic commented on #103
Right, sorry, I meant both would be available

[2015-01-13 09:00] solnic opened #104 "Extend Command API with error/success handling"
Idea for an api:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7696821-extend-command-api-with-error-success-handling?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&ut

[2015-01-13 10:16] aflatter commented on #103
What's supposed to go into URIs (and query parameters) and what should be part of the options hash?

[2015-01-13 10:21] solnic commented on #103
@aflatter up to the adapter author

[2015-01-13 10:30] solnic commented on #86
FYI I renamed `setup_connection` => `setup` which sounds more generic

[2015-01-13 10:39] solnic opened #105 "Improve in-memory adapter and make it 1st-class citizen in public API"
In-memory adapter has a great potential to be used for combining data from multiple repositories. There are a couple of things that should be done to make it better:
- [ ] extract read-only interfaces into a separate mixin
- [ ] extract insert/update/delete into a separate mixin
- [ ] make it possible to configure the adapter in read-only mode
- [ ] make it possible to configure the adapter in ful

[2015-01-13 10:48] aflatter commented on #103
@solnic so why do we have options at all?

[2015-01-13 10:51] solnic commented on #103
@aflatter some drivers support URI + extra options, so does ROM. IIRC sequel supports URI + options and moped (mongo) is the same

[2015-01-13 10:52] aflatter commented on #104
I'd prefer the naming to not be callback-oriented. You try to run a command and you get back a result which is simply a value.

[2015-01-13 10:55] aflatter commented on #104
[code]

[2015-01-13 10:58] aflatter commented on #104
Maybe Rust's `std::result` can serve as inspiration here: http://doc.rust-lang.org/0.11.0/std/result/type.Result.html

[2015-01-13 10:59] solnic commented on #104
Yeah I like that. It's closer to `try` that we already have.

[2015-01-13 15:37] elskwid commented on #104
I like the Rust `std::result` more than I like `on_error`, `or_else`, `and_then`. Agreed that `on_error` feels more like standard callbacks, and `or_`/ `and_` seems to denote an order of operation as opposed to simple error handling.

In the interest of listing options: Perhaps some of the Promise implementations can serve as inspiration:

https://github.com/petkaantonov/bluebird
https://github.co

[2015-01-13 16:21] solnic commented on #46
Any idea what should be presented in Synopsis section? Right now it's rom-sql example which I don't like. Something in-memory should be enough. Question is: what should it be? /cc @aflatter @elskwid @kwando @splattael

[2015-01-13 16:27] solnic commented on #104
Damn, this is nice too. Hmmmm

[2015-01-13 16:27] cored commented on #46
Maybe I'm misunderstanding the idea but you guys can correct me. Aren't we
aiming to have something like entity framework from Microsoft?
On Jan 13, 2015 11:21 AM, "Piotr Solnica" <notifications@github.com> wrote:

[2015-01-13 16:29] solnic commented on #46
I'm not familiar with entity framework from MS

[2015-01-13 16:31] snusnu commented on #104
what is the motivation behind adding additional api to the result object? imo, as long as the result object encapsulates associated context (i.e. the value in case of success or an error object/symbol in case of failure), rom users are free to handle/integrate their error handling how they like

[2015-01-13 16:34] solnic commented on #104
To establish conventional way of dealing with result objects. Notice that it wouldn't enforce the usage. You can still handle result as you like. This applies to commands themselves. You can access them directly and call them and catch errors yourself and so on.

[2015-01-13 16:37] snusnu commented on #104
fair enough, i just wanted to question *adding* api that's not strictly necessary. fwiw, i think that if such api is added, it should help with dispatch, i.e. something like the suggested `#then` which yields the result value "unconditionally" wouldn't really help, would it? If you dispatch on success vs. error state tho, you save yourself a conditional in client code.

[2015-01-13 17:04] solnic commented on #104
I don't think it'd work like you think - this is building an object that would execute individual blocks only for specific responses when you 'unwrap' a value from it. So `.then` would only be executed when response is a success, for an error response it would be a no-op.

[2015-01-13 17:25] solnic commented on #105
It was suggested that a virtual relation (which combines other relations and is not derived from a single base one) doesn't need a repository, which is absolutely true, so let's keep that in mind.

[2015-01-13 18:21] cored commented on #46
They have an example building an app with it; so maybe the README could
make an example like this. Like with the in-memory adapter but showing the
modeling side of the entire process?

On 13 January 2015 at 11:29, Piotr Solnica <notifications@github.com> wrote:

--
Rafael George

[2015-01-13 18:31] elskwid commented on #104
Another take on the topic mentioned in chat: https://github.com/snusnu/orc

[2015-01-13 18:37] solnic commented on #46
I don't think README is a good place for such a huge piece of information, esp that you can use ROM in all sorts of ways.

[2015-01-13 19:53] aflatter opened #107 "Defining the same relation twice is not supported and it should blow up."
re https://github.com/rom-rb/rom/pull/106/files#diff-8865019d8d9e576640f5beb871e9a898L57

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7711467-defining-the-same-relation-twice-is-not-supported-and-it-should-blow-up?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2015-01-13 20:31] aflatter opened #108 "Support configuration of repositories via `config/rom.yml`"
There's a helper in Rails for loading configuration that already respects environments: [Rails::Application#config_for](http://api.rubyonrails.org/classes/Rails/Application.html#method-i-config_for).

I think we should use this. Thoughts?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7712470-support-configuration-of-repositories-vi

[2015-01-13 20:34] solnic commented on #108
In addition to supporting database.yml, right?

[2015-01-13 20:47] aflatter commented on #108
Yes. As I see it, `config/rom.yml` would be optional. You'd be free to define your repositories in an initializer if you like that better. `config/rom.yml` would have higher priority than deriving the default repo from ActiveRecord though.

[2015-01-13 20:48] solnic commented on #108
This sounds good

[2015-01-13 23:11] aflatter opened #109 "Registry::ElementNotFoundError not raised anymore if relation does not exist"
`rom-rails` is now failing on Travis, e.g. [here](https://travis-ci.org/rom-rb/rom-rails/jobs/46840818), because the database backing relations does not exist yet when running the `app:db:schema:load` task. Previously this problem was countered by catch `Registry::ElementNotFoundError`.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issu

[2015-01-13 23:12] aflatter commented on #109
And by "now", I mean after #106 was merged ;-)

[2015-01-14 09:15] aflatter commented on #82
@solnic: Please correct me if I'm wrong.

`ROM::Config` is being moved to rom-rails as part of rom-rb/rom-rails#16, so ROM will only support the following two formats:

[code]

`:database` will not be a reserved key after the change.

[2015-01-14 09:42] solnic commented on #82
@aflatter add `ROM.setup('mysql://foo')` to the list and then I can say "yes, correct" :)

[2015-01-14 09:50] solnic commented on #109
I'm working on it but it's tricky. Now we end up with Sequel error because we try to access a dataset immediately. I have some ideas how to fix it. I will send a PR because I don't feel strong about the solution :/

[2015-01-14 10:57] #109 closed

[2015-01-14 10:57] solnic commented on #109
This was fixed via [this](https://github.com/aflatter/rom-sql/commit/0f188669285d505a1f102fb7b3ff23e756b0b76c) commit in rom-sql

[2015-01-14 11:13] #107 closed

[2015-01-14 11:26] aflatter opened #111 "Remove Env#method_missing and Env#"
- `Env#method_missing` currently lets us access repositories directly using the repository name, but it also provokes naming collisions with all other methods defined in `Env`.
- `env[repository_name]` does not have any collision issues, but it's also not used too much.

Let's remove these things as discussed in favor of `env.repositories` before the API becomes too stable.

<bountysource-plugin>

[2015-01-14 11:35] solnic commented on #111
Just to add more context - this was introduced to make it easier to access native interfaces exposed by adapters. It's been a workaround though as adapters should provide common interfaces to relation objects so accessing repositories is not a common thing to do

[2015-01-14 12:37] solnic commented on #101
FYI I started working on this and in [this branch](https://github.com/rom-rb/rom-rails/tree/improved-validators) it is already possible to do:

[code]

It is now limited to only work with rom-sql and uses global ROM env but it's fine since we're within rails context exclusively here.

To make this work with all adapters we would have to come up with a common interface for validation-related relati

[2015-01-14 12:57] solnic commented on #101
/cc @mcls (we moved all issues to main repo so I'm ccing you so you are subscribed again to the issue you originally reported)

[2015-01-14 16:01] #92 closed

[2015-01-14 20:02] solnic opened #113 "Introduce migration interface"
Currently to use Sequel's migration DSL you need to access sequel connection object directly like `rom.repo_name.adapter.connection.create_table ...`. We need to come up with some custom interface and hide implementation details related to sequel.

Maybe something like:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/776665

[2015-01-14 20:04] solnic opened #114 "Introduce transaction interface"
Similar to #113 - we need to have our own transaction interface. It should be part of Command API.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7766999-introduce-transaction-interface?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2015-01-14 20:06] solnic opened #115 "Make update command smarter"
Currently `update` command uses all attributes from the param object. This means if only one attribute value changed it will still generate an update statement for all attributes that are defined in the param object. We could compare original values with the updated ones and only use the changed ones.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bounty

[2015-01-14 20:14] solnic opened #116 "Improve "returning" behavior of Create command"
Right now after create command gets executed a select query is issued to get inserted tuple. This can be improved to avoid this additional query using [returning](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Dataset.html#method-i-returning) interface in Sequel

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7767206-improve-ret

[2015-01-14 21:22] kwando commented on #113
I would like to see something high level framework/API for migrations, where it would be possible to migrate multiple repositories (with different adapters) in the same migration script. Ofc the details would be adapter-specific.

[2015-01-14 21:30] solnic commented on #113
It would require a huge infrastructure, we could consider doing that at some point, right now it's not really feasible in my opinion. I would also argue if it should be part of ROM.

[2015-01-14 21:45] kwando commented on #113
yeah, it is not a small project... just dreaming =)

[2015-01-14 22:33] solnic commented on #113
There are advanced projects for migrations out there :)

[2015-01-15 09:46] #111 closed

[2015-01-16 15:28] solnic opened #122 "Make it possible to cherry-pick a specific mapper"
Basically making this possible:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7813508-make-it-possible-to-cherry-pick-specific-mapper?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-01-16 23:33] aflatter opened #124 "Q1"
`

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7824149-q1?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).
</bountysource-plugin>

[2015-01-16 23:34] #124 closed

[2015-01-19 09:02] 112211 opened #126 "http://www.jawalchat.com"
@.]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا]¦||ا
.@.ల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల ్ఖ ిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖిల్ఖి
.@.ણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણિણ િણ િણિણિ
.@.ષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષૈષ ૈ
Hacker KtalOOnia
12-31-2009, 02:28 PM

<bountysource-plugin>

---
Want to back this is

[2015-01-19 09:25] #126 closed

[2015-01-19 20:18] dnesteryuk opened #128 "Backward mapping"
Now the mapping is used only to map data coming from a storage:

[code]

It works fine. But, when we restrict records we have to use non-mapped names of the fields:

[code]

The same thing is about creating/updating data:

[code]

It will be good to provide some mechanism for backwards mapping. I understand that it is up to developers of adapters to define the restriction and CRUD functionality an

[2015-01-19 21:13] solnic commented on #128
This will be tackled at some point but I must admit it's very very very low on my personal priority list. Happy to accept PRs of course. I don't have any concrete ideas wrt interfaces though.

In general I see it as an extension of the reader interface that would provide a way to translate incoming "query" object into a form that matches inverted mappings.

I should probably mention that I'd like

[2015-01-19 21:22] solnic commented on #128
Oh and regarding commands - similar story, we may introduce an interface to help with that.

[2015-01-20 10:36] solnic opened #129 "Improved command API"
### Intro

Command API is the latest addition in ROM and is still in experimentation phase receiving a lot of feedback from users and contributors. The goal of this "issue" is to finalize that API, make it easy to understand and keep its extensibility which is already leveraged by rom-sql.

There are a couple of characteristics of the command api which make it potentially hard to understand for pe

[2015-01-20 11:26] solnic opened #130 "Integrate with sequel migrations"
Currently rom-sql provides no integration with any migration mechanism, hence you need to use either AR's migrations (which works just fine but is obviously not a final solution) or plug in sequel migrations, it's probably a good idea to extract sequel migrations part from [sequel-rails](https://github.com/TalentBox/sequel-rails) and integrate it with rom-sql.

<bountysource-plugin>

---
Want to b

[2015-01-20 11:31] aflatter commented on #129
[code]

[2015-01-21 11:45] solnic opened #131 "Clean up setup process and simplify DSL implementation"
There's a potential to clean up how ROM sets up its environment and all the objects (relations, mappers and commands). This requires to ensure that:

* ROM exposes abstract classes (or modules) that can be used in your classes to easily configure them using simple class-level DSLs
* It is *easy* to instantiate objects using classes extended with ROM interfaces
* Setup DSL can simply use classes th

[2015-01-21 16:42] solnic opened #132 "Add timestamp add-on to Model::Param"
To reduce duplication it'd be nice to have a way of specifying timestamps with default values:

[code]
<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7933480-add-timestamp-add-on-to-model-param?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2015-01-22 01:29] billywatson commented on #33
Lemme know if you need any help on this, @bryanp or whoever else is working on this. I'm pretty experienced with Redis and I have a huge desire to get it put into ROM.

[2015-01-23 00:06] bryanp commented on #33
Hi @billywatson that would be awesome, actually. Haven't had a chance to do much the last little bit. I certainly want to help, but also don't want to be a blocker for anyone else.

[2015-01-23 09:58] solnic commented on #33
@billywatson @bryanp would it be helpful if I started the project with some basic structure so that we have a redis connection setup in place?

[2015-01-23 15:54] billywatson commented on #33
Sure, @solnic that'd be a huge help to a guy fairly new to ROM, like myself

[2015-01-23 15:59] bryanp commented on #33
@solnic That'd be great!

[2015-01-23 20:27] #132 closed

[2015-01-24 21:41] solnic commented on #131
I'm gonna take a stab at this and see how it "feels"...stay tuned

[2015-01-24 21:45] solnic commented on #33
OK I'll try to kick it off tomorrow :)

[2015-01-25 15:39] mcls opened #134 "Question: Overriding `#to_h` of command input class"
In my app I have a form which only takes a YouTube url as input and transform that into a `Video` model. That transformation happens in the input object, which required me to override the `#to_h` method.

Is that the correct place to handle this? I kind of like this approach, but felt a bit weird overriding `#to_h`.

[code]

Also had a question about this code:
https://github.com/rom-rb/rom/blob/f

[2015-01-27 11:27] solnic commented on #134
Params are designed to handle input sent from "the outside", if you need to build attributes based on params you need a separate object to do so (like your '`Video::FromYoutube`). I see that in your case you construct attributes based on a url (that's your input) and then you pass in those attribute to the command. I would probably model it in a way where there's a form object with params having a

[2015-01-27 11:54] solnic commented on #102
This can be closed as rom-rails will ship with a fully AM-compatible `Model::Form` objects.

[2015-01-27 11:54] #102 closed

[2015-01-27 11:55] solnic commented on #122
@aflatter after our recent discussion I believe I should revert it to the original idea of `rom.read(:base_rel_name, mapper: :some_mapper)`. OK?

[2015-01-27 15:01] aflatter commented on #122
@solnic ack.

[2015-01-27 20:13] mcls commented on #134
Thanks for explaining that :)

If I understand it correctly there will be two validation steps:

1. Validate the form's inputs (`url`)

2. Validate the params passed to the command (the data returned by `FromYoutube`)

This what I now have in my `VideoForm#commit!`:

[code]

[2015-01-27 20:14] mcls commented on #134
I have to call the validator inside `commit!` now,
because it's different from the one defined on the command.

[2015-01-28 09:40] solnic commented on #134
Yeah, it kinda sucks I have to admit. Form is built with the assumption that command will use input and validator handlers. Hmmm. I guess that's why I was reluctant to introducing form objects in general haha, it's assuming a lot. I need more time to think how to extend the interface so that we can model your use case better.

This is actually a pretty common thing to do - receive some input and *

[2015-01-28 09:45] solnic commented on #134
Ah there's one detail I should mention: those fancy objects should also register commands so that you don't have to do it *unless* you don't want them to in cases where you re-use "raw" commands in other places. This will be added soon and should simplify the setup a lot.

[2015-01-29 07:49] gotar commented on #130
Will take care of it, or try ;] you can check progress: https://github.com/gotar/rom-sql/tree/%23130-migrations

[2015-01-29 07:59] solnic commented on #130
@gotar w00t!

[2015-01-29 10:57] solnic opened #135 "Implement an interface for SQL relations using Sequel's Dataset API"
Currently we're using `Charlatan` to automatically proxy all unknown method calls to the underlaying `dataset` - while this works good enough it's not the final solution.

`ROM::SQL::Relation` should implement an explicit interface without the need to use `method_missing` magic from `Charlatan` and to make things clear.

The implementation will be trivial as it's a matter of creating methods that

[2015-01-29 17:55] #131 closed

[2015-01-30 10:02] solnic commented on #122
@aflatter one more thing - we talked about an alternative interface where you can use a block where you put together a relation and then tell which mapper should load it, IIRC something like:

[code]

Right?

[2015-01-30 11:17] aflatter commented on #122
I think our ideas were more like this:

[code]

Note that `users` and the rest of the relation are close together, whereas in your example it's somewhat disconnected. Not sure why the method is called `map` in your example, but I guess it has something to do with your concern about encapsulating data access.

[2015-01-30 11:34] solnic commented on #122
Ah yeah that's better. So I guess for `map` to work we'd do something like `if block_given? then super else mappers[mapper_name].process(relation).to_a } end`. That block would be evaluated on some object that has access to relations (we could build it during setup to avoid method_missing). Hmmm

[2015-01-31 11:45] solnic commented on #134
I'll be making some improvements in Form interface so I'll try to address this one too and make it better for you :)

[2015-01-31 17:09] solnic opened #136 "0.6.0 release TODO"
Looks like the 0.6.0 release of ROM will be even bigger than 0.5.0. This, just like previously, also includes updates to all adapters and rom-rails. There's a lot of stuff to do "around" the release so I'm listing them here for a reference and in case somebody would like to help:

- [x] finish #122
- [x] finish #155
- [x] finish rom-rb/rom-rails#25
- [x] add missing yard docs for new and changed i

[2015-01-31 18:10] solnic opened #137 "Add ability to register a relation under a different name than base_name"
Right now `base_name` is used as the name under which a relation will be registered in the env, this makes it not possible to register multiple relations pointing to the same `base_name` (in sql words, a database table). We could easily make it possible to register multiple relations pointing to the same `base_name` by using a new interface ie `register_as` (which is already used for commands btw)

[2015-01-31 18:12] solnic opened #138 "Infer `base_name` from a relation class name"
A small addition that would simplify our lives :)

This could work like that:

[code]

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8184606-infer-base_name-from-a-relation-class-name?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2015-02-01 11:29] gotar commented on #130
i think we can close this ticket @solnic

[2015-02-01 11:55] solnic commented on #130
Right!!

[2015-02-01 11:55] #130 closed

[2015-02-01 17:01] gotar commented on #138
Done in PR: https://github.com/rom-rb/rom/pull/139

[2015-02-01 17:01] #138 closed

[2015-02-01 19:30] solnic opened #141 "Refactor command evaluator to not depend on method_missing"
Currently `ROM::Commands::Evaluator` relies on method missing to build a new command or execute it, ie:

[code]

Under the hood `Evaluator` has access to commands registry and finds a command by the name of the method called on it. So if you do `rom.command(:users).try { foo_bar }` it will look for `rom.commands.users.foo_bar` and crash if it's not there.

It might be a good idea to create an eval

[2015-02-02 16:44] aflatter commented on #137
@solnic probably a good time to rename base_name to dataset, wdyt?

[2015-02-02 17:01] solnic commented on #137
@aflatter dammit I forgot about this :D yeah `dataset` is much better and describes what it actually is...we should rename it

[2015-02-02 20:50] aflatter opened #142 "Remove descendants tracking"
Opening an issue here to discuss the effects of descendants tracking and the removal thereof. Gerenally, I'd say that descendants tracking is undesirable because it's a class-level interface and hidden from the user. Currently it's used to populate the registries of relations, mappers and commands automagically.

Here's a couple of points to discuss:

* Is it currently possible to require ROM obje

[2015-02-02 20:52] aflatter commented on #108
This should be quite easy to implement, making it a good candidate for `help-wanted`!

[2015-02-02 21:40] solnic commented on #142
Yeah I'm :+1+ here esp after adding silly code that clears the descendants arrays in specs and rom-rails to_prepare. As you point out this can be done automatically on an integration level with frameworks so it's fine. It would be worth to consider pulling that code into rom core though so that we don't have to do it all over again in every framework integration.

[2015-02-03 09:38] solnic commented on #142
@aflatter are you interested in making that change? I have other stuff on my plate that I *need* to do so this is a nice-to-have for me ;)

[2015-02-03 09:59] aflatter commented on #142
Sure, I am, but can't give an ETA. :-(

[2015-02-03 19:26] #116 closed

[2015-02-04 04:08] cflipse opened #143 "rom-sql not coexisting with ActiveRecord"
The new rake tasks, `db:migrate` and company, do not cooperatively coexist with ActiveRecord.

[code]
That from a Rails 4.2 project with HEAD rom-*.

I suspect it would be nicer to claim a different namespace, or at least to not automatically lay claim to the `db:` namespace already homesteaded by ActiveRecord without intentional user intervention.

<bountysource-plugin>

---
Want to back this iss

[2015-02-04 04:09] cflipse commented on #143
(also, I suspect that there's something off with a rake load path, that it's not finding the task it's depending on ...)

[2015-02-04 10:29] solnic commented on #143
We shouldn't include migration tasks by default. I'll fix that

[2015-02-04 10:31] #143 closed

[2015-02-04 11:24] solnic commented on #113
Closing this as we have a migration interface in rom-sql now added in [this](https://github.com/rom-rb/rom-sql/commit/6efcaff03b439cef07a4c2ccf9445a73f09084e9) commit

[2015-02-04 11:24] #113 closed

[2015-02-04 12:59] solnic commented on #143
We're not going to enable migrations in Rails by default, this is a highly experimental and fresh feature so needs more work.

[2015-02-04 14:34] solnic commented on #115
I'm grabbing that one as it may introduce some challenges in rom core and sql adapter

[2015-02-04 17:44] solnic commented on #142
Move to 1.0.0 milestone then?

[2015-02-04 22:05] #137 closed

[2015-02-05 19:37] solnic commented on #129
How about this:

[code]

Notice the `[]` that would be needed to auto-curry input and postpone execution, if we wanted to use `()` we'd have to put something in front of it...which is exactly why I added `Evaluator` but now I'm thinking it's an unneeded abstraction...with this approach we explicitly access commands removing the need of having something extra on top of it. For me it'd be a win.

[2015-02-05 19:48] solnic commented on #129
oh and here's an example of update and delete with this style:

[code]

[2015-02-06 10:42] solnic commented on #115
it's done in rom-sql

[2015-02-06 10:42] #115 closed

[2015-02-06 10:43] solnic commented on #129
OK so `Env#try` feels wrong because you need to inject entire ROM env into objects that use commands, meh. So I will move it to command registry so that you can only inject command registries:

[code]

Makes sense?

[2015-02-07 19:20] solnic commented on #129
I made a bunch of improvements in the composable-commands branch which is now merged into master, the API is way simpler now and allows explicitly calling command objects without the intermediate evaluator object. You can also simply refer to a specific relation on the command object (which transparently forwards to relation and returns a new command for a specific relation).

It's a really nice c

[2015-02-07 19:20] #129 closed

[2015-02-07 19:29] solnic commented on #141
Evaluator was removed eventually so this is obsolete :) Closing

[2015-02-07 19:29] #141 closed

[2015-02-07 19:31] solnic commented on #122
@aflatter I'd like to remove instance_exec and yield a relation to the block and then close this issue, so:

[code]

lemme know if that works for you, if not let's talk this through :) I'd like to close this chapter for 0.6.0

[2015-02-07 19:43] solnic commented on #104
IIRC we decided to go with something similar to Rust's Result - I really like it, looks like a great source of inspiration. Anybody would like to tackle this? Shall we have that as a last-minute 0.6.0 addition? :)

[2015-02-07 19:44] solnic commented on #101
This is now done and is supported by rom-sql and rom-rails. It'll be available in 0.6.0 of ROM and rails/sql updates.

[2015-02-07 19:44] #101 closed

[2015-02-07 19:44] solnic commented on #81
isn't it done already?

[2015-02-07 19:45] solnic commented on #100
@aflatter IIRC this is fixed, right?

[2015-02-07 19:47] solnic commented on #82
This is now fixed along with a new syntax:

[code]

[2015-02-07 19:47] #82 closed

[2015-02-07 19:49] #93 closed

[2015-02-07 19:53] solnic commented on #135
OK I'm gonna do it, it's pretty important to get it done sooner than later

[2015-02-07 20:29] aflatter commented on #122
It's a bit longer, but easy to understand. :+1:

[2015-02-07 20:31] solnic commented on #122
@aflatter we could do the trick with arity :)

[2015-02-08 04:08] maetl commented on #69
See: https://github.com/maetl/rom-neo4j

This raises a few questions about how best to integrate the concept of traversals over a sub-graph with the existing concepts of datasets and relations.

[2015-02-08 16:19] mcls opened #147 "Confusing error when Mapper not registered"
I got a confusing error when I forgot to register a mapper:

[code]

Took me a while to find it was the mapper that was missing.

I guess it should be raising the following one, but isn't for some reason? https://github.com/rom-rb/rom/blob/17c442543baa084a26d5cff50457489afcc7e19b/lib/rom/mapper_registry.rb#L11

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www

[2015-02-08 16:22] solnic commented on #147
Can you show me how you got this error?

[2015-02-08 16:24] mcls commented on #147
On my rom-sql fork, remove the mapper here: https://github.com/mcls/rom-sql/blob/master/spec/integration/read_spec.rb#L83-L85

[2015-02-08 17:12] solnic commented on #33
@billdueber @bryanp I just pushed [rom-rb/rom-redis](https://github.com/rom-rb/rom-redis) to github with some super basic stuff working. I've no idea what the strategy should be so I just did the simplest thing that could possibly work for a good start :)

oh and sorry it took so long...

@soveran I would appreciate if you could take a look too :)

[2015-02-08 17:33] solnic commented on #147
OK I will check it out, this is a bug

[2015-02-08 17:50] solnic commented on #147
...so, this is actually the expected behavior, when there are no mappers, then there are no readers, because readers are build to access mappers. The trick is (and that part can be confusing), that you don't define readers, you define mappers that's why you probably expected an error related to mapper.

I'm not sure how to improve this to be honest. Readers are really handy and can be used to exte

[2015-02-09 13:33] solnic commented on #142
No pressure whatsoever but do you think you could wrap this up this week so that we can include it in 0.6.0?

[2015-02-09 15:22] #122 closed

[2015-02-09 15:56] billywatson commented on #33
Awesome, thanks!

[2015-02-09 16:17] solnic opened #148 "Update generator templates to produce classes rather than DSL incantations"
<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8424463-update-generator-templates-to-produce-classes-rather-than-dsl-incantations?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F15578

[2015-02-09 20:07] cflipse commented on #148
I'll pick this one up.

Adjusting the Mapper and Relation generators to:
 * Produce the class version
 * use autoload-safe file names
 * accept an optional adapter argument

And add a generator for Forms
 * optional adapter argument to generator
 * generate an integration spec/test for the form

[2015-02-09 20:15] solnic commented on #148
Sounds like a good plan :)

[2015-02-11 03:28] kchien commented on #108
@aflatter I started looking into this, but it appears that to use `Rails::Application#config_for`, you need an instance of the app.  Will some of the code that was removed in rom-rb/rom-rails@d00c4f4e0defd15fe2859a4394cfa7ce9e2c2389 have to be brought back?  Is there another way to pass the app to `ActiveRecord::Configuration`?

[2015-02-11 07:56] aflatter commented on #142
I'll try, but I'm behind schedule as I got struck down by a flue. :-(

[2015-02-11 08:04] aflatter commented on #108
@kchien I don't think you need touch `ActiveRecord::Configuration`. Instead, you can check hook into the initizliation process [here](https://github.com/rom-rb/rom-rails/blob/master/lib/rom/rails/railtie.rb#L32) and construct a `ROM::Rails::Configuration` by reading from the YML file if it exists.

`ActiveRecord::Configuration` is just for reading the default connection hash directly from ActiveRe

[2015-02-11 11:39] solnic commented on #142
Sorry to hear that. I'm struggling with an infection myself :/ Seems like we're gonna postpone 0.6.0 release a little bit.

[2015-02-11 18:30] muescha opened #151 "Tutorial: how to run it?"
there is this line in tutorial http://rom-rb.org/tutorials/rails/getting-started/
`rails new rom-todo-app -JTS -m http://rom-rb.org/tutorials/code/rom-todo-app-template.rb`

but since i use bundler i dont like to install the rails gem outside of a `Gemfile`

How i can run this tutorial otherwise?

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysourc

[2015-02-11 20:47] aflatter commented on #151
This is not specific to ROM but to Rails - and it's [Getting Started guide](http://guides.rubyonrails.org/getting_started.html) requires `gem install rails`. I'm not sure why you want to work around that, maybe because your rubygems installation is wrecked or something, but you can probably create a Gemfile containing just:

[code]

Then move `rom-todo-app` somewhere else and delete the current di

[2015-02-12 23:13] mjtko opened #153 "Unintuitive association behaviour"
As discussed on Gitter ([here](https://gitter.im/rom-rb/chat?at=54dbb079253f88e25fe46214) and [here](https://gitter.im/rom-rb/chat?at=54dd1543f5e2f7d667a7b230)), I was a bit confused about how the mappers operate when trying to create an aggregate.  I've put together [an app](https://github.com/mjtko/rom-associations-issues-demo-app) which hopefully clarifies some of the things I was trying to do.

[2015-02-13 11:41] solnic commented on #153
There are two factors here that make it hard to build complex mappings:

- mappers and relations are disconnected, it means that a mapper expects correct data structure to be sent and relations must provide those data structure, *you* builds those data structures using query DSL provided by rom-sql relation. there's no declarative way to specify those structures, it's just based on building sql qu

[2015-02-13 11:51] solnic opened #154 "Add an interface to specify "base" dataset"
Right now rom-sql is completely bare-bone with no conventions wrt default dataset. It might be worth considering a way to specify the base dataset that will be injected so that it will always be used as "the starting point". Don't confuse this with "default scope" in AR - this is an anti-pattern. We're talking about some absolutely basic convention, ie always select all attributes and sort by PK.

[2015-02-13 19:25] #151 closed

[2015-02-13 19:27] aflatter commented on #136
(Changelogs need to be updated too)

[2015-02-13 19:39] solnic commented on #136
@aflatter ugh of course :) thanks for the reminder, I updated todos

[2015-02-15 00:42] solnic commented on #108
Any ideas on the structure of this file? Something like:

[code]

??

[2015-02-15 16:24] solnic opened #156 "Hide inflections behind an internal interface"
Currently we have a hard dependency on `Inflecto` gem. ROM uses inflections in a couple of places and it would be nice to have internal interface with pluggable backends. Why? Because we could drop hard dependency on `Inflecto` and use a simple detection mechanism to see if there's any inflection backend available (in 90% ActiveSupport should be there heh) and just use that one. We could default t

[2015-02-15 16:48] solnic commented on #136
OK it feels like releasing beta versions of rom, rom-sql and rom-rails will be a good start. Beta or a RC (I consider APIs as frozen, the only thing I'd like to add is #155).

During beta/rc phase people could try it out and some potential silly issues that we might've missed could be fixed. Then final version could be released.

With so many changes I think it's a good way to go. We could just tw

[2015-02-15 18:13] cored commented on #136
@solnic isn't better for tracking to have the items as separate issues?

[2015-02-15 21:02] solnic commented on #136
@cored this issue is just a todo list to prep the release. Any problems discovered should be reported as separate issues

[2015-02-16 22:15] mjtko commented on #156
I've had a go at this in #158 -- I'll look at making the couple of required changes to `rom-sql` after the result of any discussion/iteration on the PR.

[2015-02-17 13:46] #156 closed

[2015-02-17 21:56] bryanp commented on #33
@billywatson have you started on an aspect of this? would be good to coordinate somehow.

and thanks @solnic!

[2015-02-18 01:30] billywatson commented on #33
I haven't started yet, no. I've been trying to finish the project that needs this without it so that I could see where it would fit in. Did you have a place to start?

[2015-02-19 18:11] cflipse commented on #148
Anything left on this?  Between rom-rails#30 and rom-rails#25  I think it's been covered?

[2015-02-19 18:13] solnic commented on #148
True! Closing, thanks :heart:

[2015-02-19 18:13] #148 closed

[2015-02-21 23:35] cameron-martin opened #161 "Postgresql adaptor naming issue in rom-rails."
In rails' `database.yml`, the postgresql adaptor is named 'postgresql'. However, in ROM it is called 'postgres'.

This means ROM tries to look up `Adapter['postgresql']` in [`ROM::Config`][1], which returns nil and eventually raises an error (on a side-note, it might be better to raise an error instead of returning nil).

This is relevant to the the latest releases (rom 0.5.0 and rom-rails 0.2.1),

[2015-02-22 11:55] solnic commented on #161
Thanks for the report - that's fixed on master already

[2015-02-22 11:55] #161 closed

[2015-02-23 18:00] bryanp commented on #33
Same here, actually. I was looking to drive it based on needed features, which to start with would just be basic CRUD operations. That would likely descend into more complex queries.

[2015-02-23 19:04] billywatson commented on #33
Well it looks like from my previous research that the CUD portions aren't as well defined in ROM yet so I was planning on just sticking with implementing good read interfaces for now. What do you think?

[2015-02-23 19:51] solnic commented on #33
`CUD` is handled by commands and the interface is very simple, every adapter can provide `Commands` namespace with `Create`, `Update` and `Delete` classes that inherit from `ROM::Commands::*` base classes. You can take a look at memory adapter, this is really simple stuff. The only interface that's required is `#execute` which receives various args depending on the type of command.

[2015-02-23 20:47] billywatson commented on #33
I guess I misspoke. "Well-defined" clearly isn't right, but some of the docs said that CUD is "in-flux" or something of the sort. Is that not correct?

[2015-02-23 20:50] solnic commented on #33
It is getting more stable. Adding more adapters contributes to this process that's why it would be fantastic to get it working for redis too :)

[2015-02-24 19:04] bryanp commented on #33
Cool; I'll start with `CR`. Getting really close to needing this so I should start in the next couple days.

[2015-02-27 12:21] solnic commented on #136
Just a quick update: rom 0.6.0.beta2, rom-sql 0.4.0.beta1 and rom-rails 0.3.0.beta1 are released now. I haven't had the time to release other adapters though but *they will be released* along with final version of rom 0.6.0 so don't worry.

[2015-03-02 20:37] solnic opened #163 "Add a way to register arbitrary objects as mappers"
Mapper interface is very simple so that any object that responds to `#call(relation)` can be used. Right now ROM mappers serve as a convention and use pluggable data mapping backends (currently the only one we have is using [transproc](https://github.com/solnic/transproc)) but at the end of the day it is the mapper registry that counts the most - we *can* store whatever we want there, it doesn't h

[2015-03-02 20:46] solnic opened #164 "Add an interface for composing mappers"
Sending data through multiple mappers is already supported by providing multiple mapper names when reading a relation but this could be greatly improved with an interface that allows to define a mapper that is re-using other mappers. This way you could define one mapper that combines mapping logic of multiple mappers.

The interface could look like that:

[code]

<bountysource-plugin>
---
Want to

[2015-03-02 20:53] solnic opened #165 "Setting `register_as` on a root mapper class should override its `relation` name"
Currently when you define a root mapper for a relation it is not possible to override its registry name using `register_as`:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9129915-setting-register_as-on-a-root-mapper-class-should-override-its-relation-name?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&ut

[2015-03-02 21:14] cflipse opened #166 "pagination kills existing filters"
Noticed a problem with the pagination plugin where it seems to eliminate any filters already applied to the relation.

The test below  *should* demonstrate the issue, added to the pagination spec in rom-sql.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9131070-pagination-kills-existing-filters?utm_campaign=plugin&utm_conte

[2015-03-03 07:34] kwando opened #167 "Mapper wrap fails with nil values"
[code]

Backtrace:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9145455-mapper-wrap-fails-with-nil-values?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=iss

[2015-03-03 07:38] kwando commented on #167
Sorry, I missed the first line of the backtrace..
[code]

[2015-03-03 09:13] gotar commented on #167
it looks like https://github.com/solnic/transproc bug not rom

[2015-03-03 11:46] solnic commented on #167
Yes, seems like transproc assumes it's a non-nil value. I'll fix it there. Thanks for the report.

[2015-03-03 12:48] kwando commented on #167
No problemo, just stumbled onto it today =)

[2015-03-03 15:23] #166 closed

[2015-03-03 15:58] #165 closed

[2015-03-05 14:00] schmurfy commented on #142
That's funny because while looking at the example in the README I was wondering how was everything linked together ;)

I don't like blackmagic much (but I still use it in some scenario) and that's one reason I would love to go away from activerecord, blackmagic is nice as long at the framework does what you want but as soon as you start doing "out of scope" things then the nightmare begins and you

[2015-03-05 14:26] solnic commented on #142
The setup process is relatively complex but I wouldn't call it blackmagic. Descendants tracking is gone already but we still use inherited hook to register a class. That's an implicit behavior though and potentially can be confusing, otoh it's just part of the setup, this is not something that's happening at run-time after setup.

Can you tell me which part got you confused wondering how on earth

[2015-03-05 14:53] schmurfy commented on #142
When I spoke about blackmagic I was not specically refering to what is currently done in rom but that's more a fear about what happens in other projects ^^

This is not directly related to this issue but how the parts are linked to each other is not really intuitive for me, when looking at the current example in the README a bunch of class are defined but almost none of them are directly reference

[2015-03-05 15:09] solnic commented on #142
Yeah that's why I started with the DSL in the first place. Later on we discovered that it's easier to re-use inheritance mechanisms in ruby vs reinventing them for the DSL purposes.

I believe DSL will stay, maybe it'll be extracted into a separate project (rom-micro? :)) but the class-based approach makes much more sense in bigger projects.

Regarding your concern about defining classes but never

[2015-03-05 15:14] solnic commented on #142
Oh one more thing - ROM env object also exposes a higher-level interface for accessing relations and commands, it has access to all registries so we can have more convenient interfaces built on top of that.

[2015-03-05 15:34] schmurfy commented on #142
Thanks for the explanations, that was just my first impression after coming back to the project after leaving it aside for some time (last time there only the DSL language, not the classes), I need to play more with it I think to see how things play.

I did not thought about inheritance, does this means you could have a base mapper with specialized ones inheriting from it ?
And since the name of t

[2015-03-05 15:39] solnic commented on #142
Mapper class name is not used at all right now. We only infer `dataset` name from relation class name.

Regarding inheritance - if you inherit from another mapper its whole header will be copied and then you can override specific attributes if you want.

[2015-03-06 21:14] muescha commented on #142
here is also blackmagic? this generates a relation for me magic?

[code]

[2015-03-06 21:17] solnic commented on #142
Nah it is just a shortcut for `ROM::Memory::Relation`
On Fri 6 Mar 2015 at 22:15 muescha <notifications@github.com> wrote:

[2015-03-06 21:18] muescha commented on #142
i mean it creates the `:users` for me as magic. in other classes i need `register_as` - but here not

[2015-03-06 21:24] solnic commented on #142
I hear you. This will soon be replaced by policy-over-configuration so
those things will be handled explicitly and you will be able to provide
your own policies too (see how it's done in yaks gem).
On Fri 6 Mar 2015 at 22:18 muescha <notifications@github.com> wrote:

[2015-03-10 09:22] gotar opened #169 "Add InfluxDB adapter"
http://influxdb.com

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9392198-add-influxdb-adapter?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=gith

[2015-03-10 10:12] solnic opened #170 "rom-lotus integration gem"
Lotus is growing fast and it would be really good to have an integration gem that allows to easily use ROM in a lotus app.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9393561-rom-lotus-integration-gem?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-03-10 14:20] aflatter opened #171 "ROM::Commands::Update[:sql]: change(...).to(...) feels inconsistent"
The type of input is configurable by the user, but the type of `original` is hard-coded to be a Hash.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9400622-rom-commands-update-sql-change-to-feels-inconsistent?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2015-03-11 14:51] aflatter opened #173 "Better error message for `association_join` with a non-existant association name"
A `NoMethodError` is raised when calling `association_join` with an invalid association name. ROM should throw a more descriptive error. The offending code is [here](https://github.com/rom-rb/rom-sql/blob/master/lib/rom/sql/relation/associations.rb#L51).

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9441194-better-error-mes

[2015-03-12 15:45] kwando opened #174 "Default args for relations is broken."
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9483374-default-args-for-relations-is-broken?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=g

[2015-03-12 16:22] solnic commented on #174
seems like `arity` is -2 when there's an arg with a default value, we don't check that yet (we only bail when it's -1). easy fix, if anyone would like to tackle it.

[2015-03-12 16:50] solnic commented on #174
it boils down to changing [this](https://github.com/rom-rb/rom/blob/master/lib/rom/relation/lazy.rb#L170) to check for `< 0` and adding a spec example with a default arg.

[2015-03-12 22:57] #174 closed

[2015-03-13 10:01] aflatter opened #178 "Re-using mappers"
Opening an issue as discussed on Gitter. Basically, I'd like to see something like this:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9513354-re-using-mappers?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campa

[2015-03-13 12:56] solnic commented on #135
Auto-forwarding is already gone and most of the common dataset methods are now implemented. Closing.

[2015-03-13 12:56] #135 closed

[2015-03-13 12:57] #100 closed

[2015-03-13 13:01] solnic commented on #114
This is done in `rom-sql`

[2015-03-13 13:01] #114 closed

[2015-03-13 15:08] solnic commented on #167
FYI I fixed it in transproc, here's the output from the repro script in this issue:

[code]

[2015-03-13 16:56] aflatter opened #179 "Wrapping mapper still fails if there's nothing to wrap ;)"
Thanks for all the help today! I think I stumbled into another issue, the following might suffice to repro:

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9525301-wrapping-mapper-still-fails-if-there-s-nothing-to-wrap?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bo

[2015-03-13 17:26] solnic commented on #179
ah, yeah I know why it happens, this makes me think that we do want an empty hash from `nest` instead of nil.

makes sense?

[2015-03-13 17:47] aflatter commented on #179
Yup, I hope so. :)

[2015-03-14 11:25] solnic commented on #179
OK fixed in transproc 0.1.2

[2015-03-14 11:25] #179 closed

[2015-03-14 14:26] cflipse opened #180 "Uncoercable attributes should not make a form explode"
In rom-rails, if a form has an integer attribute:

[code]

Assigning an uncoercable value to the attribute  `InputForm.build(total: "two hundred")` will raise an error.  Validations never have a chance to filter and handle this cleanly.  This is undesirable behavior for user facing input.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-03-14 14:28] cflipse opened #181 "Create forms should populate ID"
after a create form successfully adds a new record, it should populate it's ID field, so that it's usuable in a normal rails controller flow:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9555850-create-forms-should-populate-id?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept

[2015-03-14 14:29] cflipse commented on #181
presently, I have to dig in for `form.result.value[:id]` to get the show-page redirect that's standard rails controller flow.

[2015-03-14 17:56] solnic commented on #181
Actually I think the proper way of doing this is unwrapping the result and using whatever the command returned. We can wrap it up as an object too (this is a missing interface in Form though).

So, something like this would be much nicer:

[code]

...or we could make sure that `to_key` works with a saved form but that's even more mutability in the form object so meeeh.

[2015-03-14 17:58] solnic commented on #180
Yeah, I had second thoughts about this myself. We added strict mode by default but it's too aggressive. This is that moment where coercion and validation are really close to each other.

I think you're right - we should turn strict mode off.

[2015-03-17 08:27] KamilLelonek opened #182 "Handling UUID types as primary key in associations"
We can configure a model to use `UUID` type as a `primary key` for any table in `Postgres` database:

    Sequel.migration do
      up do
        run 'CREATE EXTENSION "uuid-ossp"'

        create_table :products do
          column :id, :uuid, default: Sequel.function(:uuid_generate_v4), primary_key: true
        end
      end
    end

In this case, there's no possibility to create `join` associa

[2015-03-21 02:27] cflipse commented on #180
fixed in https://github.com/rom-rb/rom-rails/commit/6dd06dc4b280e991c27e1f152335bef6f0d74b7c

[2015-03-21 02:27] #180 closed

[2015-03-22 15:10] #167 closed

[2015-03-23 15:47] kwando opened #183 "rom-mongo missing #each method.."
[code]
Blows up with this error:
[code]

Gemfile
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9914206-rom-mongo-missing-each-method?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-03-23 17:17] cflipse opened #184 "[rom-rails] Form subclasses should have a consistant interface:"
Right now, a subclass of a form cannot use the same interface that a base form does:

[code]

Would overwrite the attributes provided by the base class.

This impacts the reusability of the subclassing pattern by requiring subclasses to use a different interface than the base `ROM::Model::Form` child class, or surprising the user by dropping the base-configured interfaces

<bountysource-plugin>
--

[2015-03-24 09:50] AMHOL opened #185 "Support returning entities from commands"
Currently when you call a command, such as create:

[code]

The return value is a hash, in most cases it would be useful to return an entity, or collection of entities, this should be relatively simple to implement, suggested API for configuration is:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9945847-support-returning-e

[2015-03-24 14:14] cflipse commented on #181
This looks like it'll blend in _really_ well with #185, once that's in place.

Although I think getting something in place for a 0.3.1 release might still be a good idea, even if it gets updated once rom-0.7.0 goes out.

[2015-03-24 14:44] solnic commented on #181
Yep we should push 0.3.1 with those changes merged
On Tue 24 Mar 2015 at 15:14 Chris Flipse <notifications@github.com> wrote:

[2015-03-24 21:55] solnic commented on #170
I'm working on it, will push something tomorrow

[2015-03-25 14:43] cflipse commented on #184
addressed by rom-rb/rom-rails#34

[2015-03-25 14:43] #184 closed

[2015-03-25 23:02] AMHOL commented on #185
Wondering about Virtus style syntax for this, i.e.

[code]

[2015-03-26 09:03] solnic commented on #185
no, sorry this can't be done like that - first of all it requires model constants to be defined when commands are loaded, secondly it makes command now how to instantiate objects (which is not their responsibility), thirdly - I *really don't like that syntax anymore*, it can't be used consistently and requires more complexity, it's going away in virtus 2.0.

[2015-03-26 10:04] AMHOL commented on #185
Yeah, thought about it when I went to bed last night, realise why you mentioned some kind of DI container as this method relies on constructor mass-assignment.

[2015-03-27 10:20] solnic commented on #185
This is done in #187 - pls take a look, I'd like to merge it in :)

[2015-03-27 15:04] solnic commented on #134
This is resolved as now you need to pass in already coerced input using `Form#attributes` interface to the command. This means you control when and how input is processed.

[2015-03-27 15:04] #134 closed

[2015-03-27 15:05] solnic commented on #147
Reader is gone, so this is gone too.

[2015-03-27 15:05] #147 closed

[2015-03-27 15:08] solnic commented on #181
with #187 merged in we could extend form dsl to support something like that:

[code]

[2015-03-27 21:20] gotar commented on #169
basic gem if ready. Still a lot to add but I think we can close this

[2015-03-27 21:21] solnic commented on #169
yep the adapter is at [rom-rb/rom-influxdb](https://github.com/rom-rb/rom-influxdb)

[2015-03-27 21:21] #169 closed

[2015-03-27 21:27] gotar commented on #44
Do we still need this ticket, we have basic migrations?

[2015-03-27 21:28] gotar commented on #33
Redis adapter exists: https://github.com/rom-rb/rom-redis this issue should still be open?

[2015-03-27 21:39] solnic commented on #33
Yes because this is still `help-wanted` :)

[2015-03-27 21:41] solnic commented on #44
Yes we can close this one

[2015-03-27 21:41] #44 closed

[2015-03-27 21:41] solnic commented on #44
Yes we can close this one

[2015-03-28 13:13] #185 closed

[2015-03-28 13:24] solnic commented on #170
The project has started under [rom-rb/rom-lotus](https://github.com/rom-rb/rom-lotus). Expect a release soon.

[2015-03-28 13:24] #170 closed

[2015-03-28 13:33] #136 closed

[2015-03-30 08:21] gotar commented on #182
Hmm maybe you will provide more code, that not works for you, because I just test and all works

[2015-03-30 08:31] gotar commented on #182
[code]

[2015-03-30 08:33] KamilLelonek commented on #182
OK, that should be enough for me. And it sounds like a good documentation ;)

[2015-03-30 08:33] #182 closed

[2015-03-31 10:56] cflipse commented on #181
Yup.  I'll work on wiring that up.

Saw on gittr that you're hoping for a 0.6.1 release sometime this week?

[2015-03-31 11:35] solnic commented on #181
@cflipse yes, wrap things up before Thursday and release on Friday

[2015-04-01 03:21] cflipse commented on #181
work in progress:  https://github.com/cflipse/rom-rails/tree/result-data-object

In some sense, this feels a bit clunky to me, acutally poking through it.  The suggested API breaks, so I'm starting from a simpler point, and once the basics are down, I can try and shift up to it.  But in looking at it, I'm thinking it might be simpler and more consistent to do something more like:

[code]

but that

[2015-04-01 09:45] solnic commented on #181
yep makes sense to start as simple as possible :)

[2015-04-01 21:03] muescha commented on #181
Question: is `:entity` here a magic static keyword or an entity defined before?

[2015-04-01 21:23] muescha opened #189 "Doc: Tutorial: Rails: Migrations"
http://rom-rb.org/tutorials/todo-app-with-rails/

[code]

still up to date?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10334518-doc-tutorial-rails-migrations?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2015-04-01 21:28] muescha opened #190 "Doc: Api-Reference - missing gems doc"
Menu: API-Reference:

missing gem docs for:
- rom-dm
- rom-influxdb
- rom-redis

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10334799-doc-api-reference-missing-gems-doc?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-04-01 21:30] muescha commented on #190
ok - there listet here with status unknown :(
http://rom-rb.org/status/

[2015-04-02 00:12] cflipse commented on #181
it's the registered name of a mapper.

[2015-04-02 09:17] kwando opened #191 "ROM does not rescue from Sequel::DatabaseError"
Reproduction: insert a value to non existent column with rom-sql

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10354878-rom-does-not-rescue-from-sequel-databaseerror?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaig

[2015-04-02 19:54] solnic commented on #190
Ah it's because those gems are not released yet and we generate links to API docs of released gems :/

[2015-04-02 19:55] solnic commented on #189
Kind-of. We have initial support for migrations but I'd like to improve it a bit before making it official.

[2015-04-02 19:55] #189 closed

[2015-04-02 20:11] solnic opened #192 "Plugin system"
Core components should be extendible through plugins. We already have a pagination plugin in rom-sql and it would be great to generalize the plugin infrastructure so that it's easy to extend ROM.

Here's an API idea:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10378761-plugin-system?utm_campaign=plugin&utm_content=tracker

[2015-04-02 20:26] solnic opened #193 "Configuration API with policy-over-configuration"
API ideas:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10379395-configuration-api-with-policy-over-configuration?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_m

[2015-04-03 08:14] #181 closed

[2015-04-03 12:26] gotar opened #194 "Mappers should reject keys"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10408213-mappers-should-reject-keys?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).
<

[2015-04-03 16:53] cflipse commented on #194
If there are no attributes specified, what's the expected behavior?

And how does this mesh with the `exclude` option?

[2015-04-03 16:58] gotar commented on #194
exclude change nothing (not work)

[code]

[2015-04-03 17:00] gotar commented on #194
the same without attributes at all

[code]

[2015-04-03 17:04] gotar commented on #194
As I know outside model (without model) `attribues` works only to transform, do not drop anything

[2015-04-03 17:26] solnic commented on #194
`exclude` is needed when you inherit from another mapper and want to exclude some inherited attributes. But overall mappers do not reject keys, `attribute` dsl is only used for transformations and coercions. We need to figure out how to improve that, I can see that rejecting could be handy.

[2015-04-03 17:31] gotar commented on #194
yeap right now when we, from DB after create, got everything will be nice to have tool to easly map it to hash we like to have

[2015-04-03 18:52] cflipse commented on #192
starting some work on this.  You can look over my shoulder at https://github.com/rom-rb/rom/pull/195

[2015-04-04 13:06] gotar commented on #194
Generally mapper for me should works like Virtus, if you don't specify any attribute then it return `{}`. You need to specify whole complex structure you want to have after transformation.

[2015-04-04 13:50] solnic commented on #194
The thing is that a mapper becomes almost a no-op if there are no attributes specified, which makes it fast. I'd say we should have a way to tell the mapper to actually reject undefined attributes.

A typical scenario is that a relation returns tuples that are already in the expected state and doing anything extra with that is just an overhead that you don't need. My point is that rejecting attrib

[2015-04-04 14:00] gotar commented on #194
those `select ...` works ok for fetching data from DB, but problem I have is with data returned after `create command`. We don't have any control on db side what fields we will get, and then need mapper to fix that.

[2015-04-04 14:02] gotar commented on #194
But maybe we try to fix it from wrong side and we should return nothing from create call (as CQRS said) then we will have normal db read call there or allow to inject call commands do after create

[2015-04-04 14:19] solnic commented on #194
Welllllllll you can always do this:

[code]

:smiley:

[2015-04-04 15:43] gotar commented on #194
:mindblow: again I realize I'm still beginner in ROM universe

[2015-04-06 23:06] ginjo opened #197 "Adding Filemaker adapter"
I've been working on an adapter for Filemaker server, [rom-fmp](https://github.com/ginjo/rom-fmp), and I seem to be a bit stuck on what exactly is a rom dataset, what are its behaviors and responsibilities, and how does it interact with relations. I understand that a dataset should respond to `each` and `to_a`, but what is the "true nature" of a rom dataset? From what I can tell, a dataset is some

[2015-04-07 09:37] solnic commented on #197
A dataset is an object that exposes "native" interface to access data. The only required interface is `#each` though but typically datasets provide quite powerful interfaces that a relation can use. There's a macro you can use to forward certain calls to the underlaying dataset and this will enable query chaining, ie:

[code]

[2015-04-07 15:03] kwando opened #199 "Map attributes to array"
Something to map
[code]
to
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10644307-map-attributes-to-array?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issu

[2015-04-07 15:10] kwando opened #200 "Unwind array"
Mapping
[code]
to
[code]
I'm not sure what I want this for though..  the ```Hash``` to ```Array``` conversion might be tricky.. maybe I'm just thinking to much about the mongodb aggregation pipeline now.
Feel free to close if you do not think this mapping makes sense.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10644619-unwind-ar

[2015-04-08 22:13] wafcio opened #202 "Bug memory dataset: order on field(s) with nil value raise exception"
I found bug in enumerable_dataset.rb (memory dataset) in sort_by (order) method. When one field is nil and you want call order on this column it will raise error.

Example: You have data: [{ name: 'Jane', age: 24 }, { name: 'Joe', age: nil }] and you want order(:age)

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10741934-bu

[2015-04-10 04:16] schwern opened #203 "Allow Array defaults on Postgres array columns"
It would be nice if one could specify defaults on Postgres array columns as Ruby arrays.

    column :titles, 'varchar[]', default: []

This solves two problems.  First, `default: []` is currently ignored with no warning.  The column will wind up with no default.

Second, if it has a not null constraint auto_validations will not see it has a default and do a presence validation.  auto_validations

[2015-04-10 04:30] schwern commented on #203
Sorry, I somehow posted this to the wrong repository.

[2015-04-10 06:04] gotar commented on #203
It's good repository we collect here all issue

[2015-04-10 16:07] schwern commented on #203
I'll reopen it then.

[2015-04-10 22:18] schwern commented on #203
[In a related issue](https://github.com/jeremyevans/sequel/issues/989), @jeremyevans said no to the idea.  Or rather the impression I got was transparent PG<->Ruby array translation has to work everywhere or nowhere.

[2015-04-10 22:58] AMHOL commented on #203
@schwern can you please expand on "wrong repository", when @gotar said we use this repository to collect all issues, he meant ROM issues, and probably assumed you intended to report this in the rom-rb/rom-sql repository, is that the case? This project is not affiliated with Sequel, it's just a dependency.

[2015-04-10 23:50] schwern commented on #203
Exactly, I meant to report this to Sequel.  I'm not sure how I landed here.

[2015-04-10 23:50] #203 closed

[2015-04-14 12:57] kwando opened #204 "rom-rails#success? does not work with ROM::ConstraintError"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11122853-rom-rails-success-does-not-work-with-rom-constrainterror?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_mediu

[2015-04-15 12:06] gotar commented on #191
rom `try` do not catch no rom errors

[2015-04-15 14:29] kwando commented on #191
I know, but the error that is raised is a ```ROM::SQL::ConstraintError``` which inherits ```ROM::CommandError```.
The problem with the form code is that the form expects the error to be a ValidationError (which also is kind_of?(ROM::CommandError).

[2015-04-17 02:06] drewda opened #205 "Add JSON adapter"
Would it be possible to add a JSON adapter? This could potentially be useful to situations where data files are shared amongst libraries in Ruby, Node, Python, etc.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11327920-add-json-adapter?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accep

[2015-04-17 17:47] solnic commented on #205
What would it do specifically?

[2015-04-18 16:40] drewda commented on #205
Persist object data to JSON files, as an alternative to YAML or CSV formats.

[2015-04-18 18:00] solnic commented on #205
Ah OK so we're talking about a file-based adapter targeting json. Yes this
sounds good. It would be very similar to yaml/csv adapters.
On Sat 18 Apr 2015 at 18:40 Drew Dara-Abrams <notifications@github.com>
wrote:

[2015-04-20 09:25] solnic commented on #200
This is basically an `ungroup` operation. We could consider adding it but just like you I don't see any use cases for that now.

[2015-04-20 09:28] solnic commented on #199
Do you have a use-case like that? I must say I've never seen such a structure.

[2015-04-20 09:36] #23 closed

[2015-04-20 09:45] solnic commented on #191
So this is a rom-rails bug I suppose.

[2015-04-20 10:00] solnic commented on #171
`input` is not for setting domain object models, it's for setting input sanitizer/coercer objects. Commands don't persist "domain objects", they persist data, we're dealing with hashes here exclusively (aka tuples). `from/to` works with hashes, the fact you provide `input User` doesn't mean the command persists a user. It just happens that your class responds to the expected interface (`User[]` an

[2015-04-20 10:02] #190 closed

[2015-04-20 10:13] #81 closed

[2015-04-20 10:35] maetl commented on #105
One API quirk I’ve noticed from usage of this is the following tends to pop up in a few places:

[code]

[2015-04-20 10:58] solnic opened #208 "Eager loading for associations"
TBD

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11584674-eager-loading-for-associations?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github).

[2015-04-20 18:24] drewda commented on #205
Great, thank you for considering this.

[2015-04-21 12:14] gotar opened #209 "calling mapper for update commands do not work"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11685370-calling-mapper-for-update-commands-do-not-work?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&u

[2015-04-21 21:47] solnic commented on #209
Does it work when you use `call` instead of `set`?

[2015-04-22 06:55] gotar commented on #209
Yeap, it work.

[2015-04-22 08:14] solnic commented on #209
OK the fix is simple, add `set` alias to `Command::Composite` but this makes me think we should always just use `call`/`[]` :/

[2015-04-22 08:55] solnic commented on #209
I'd say we should deprecate aliases on commands and stick to `#call` and `#[]`. Thoughts? /cc @aflatter @splattael @maetl @cflipse

[2015-04-22 09:21] gotar commented on #209
yeap those set was sth strange, different then we have in other places, using everywhere `#call` will be a lot better

[2015-04-22 09:44] maetl commented on #209
What was the original purpose of the aliases? To make the API more ‘verb-oriented’ or something along those lines?

[2015-04-22 09:54] solnic commented on #209
To make it feel less awkward. With the opposite result :)

On Wed, Apr 22, 2015 at 11:44 AM Mark Rickerby <notifications@github.com>
wrote:

[2015-04-22 14:26] cflipse commented on #209
I'm good with it.  I tend to prefer "single entry" command objects use `call` anyway, just for the proc compatibility

[2015-04-23 05:20] splattael commented on #209
:+1: for `call`

[2015-04-24 16:13] #173 closed

[2015-04-24 19:41] lukeses commented on #205
I will work on this issue.

[2015-04-28 15:12] cflipse opened #211 "Allow specifying additional ON criteria for joins"
This _could_ be a documentation problem, and I'm missing things in the code, but I don't currently think so.

I need to be able to specify additional criteria within a JOIN command; right now the many_to_many command only appears to link by matching ids.  In addition to matching IDs, I need to be able to specify additional column restrictions.  (think:  state column, or "type" for dealing with a p

[2015-04-28 15:15] aflatter commented on #211
@cflipse I ran into the same thing literally minutes ago. The `:conditions` option on the association class methods does not seem to have any effect.

[2015-04-28 15:44] solnic commented on #211
For now you can user sequel's `graph` directly. We're missing support for many extra options that Sequel API has.

[2015-05-04 09:32] wafcio commented on #67
https://github.com/rom-rb/rom-rethinkdb

[2015-05-04 09:37] solnic commented on #67
OK I'm going to close this one since now it's a WIP and we have the repo (:

[2015-05-04 09:37] #67 closed

[2015-05-04 09:45] solnic commented on #202
Shall we put nils before numbers?

[2015-05-04 09:52] wafcio commented on #202
based on csv exmaple:

[2015-05-04 09:53] #69 closed

[2015-05-04 09:53] solnic commented on #69
We moved maetl's repo to the rom-rb org: https://github.com/rom-rb/rom-neo4j

[2015-05-04 09:55] wafcio commented on #202
based on csv example:
id;name;age
1;Jane;24
2;Joe;

We have nil age for Joe, of course we can put for example 0 or " " but it doesn't look good

[2015-05-04 09:55] solnic commented on #202
I'm just wondering what the order should be, should it be `nil, 0, 1` or `0, 1, nil` :) Some dbs allow you to configure that behavior.

[2015-05-04 10:02] maetl commented on #69
:smile_cat:

[2015-05-04 10:27] wafcio commented on #202
good point, but i think we can nil treat like 0

[2015-05-04 16:50] cflipse commented on #202
not quite ... nil != 0, particularly if you include negative numbers in your sorting.

Nil values don't flow into the sort; the question is if they should lead or trail the sorted order.    Different RDBMS' have different opinions on if it goes first or last, so it's a judgement call, but they SHOULD NOT appear in the middle of the list.  Personally, I'd sort nil's to the end.

[2015-05-05 15:54] #192 closed

[2015-05-05 15:58] solnic opened #213 "Turn relation registry access into a plugin"
Now with a plugin system in place we can tweak registry access into a plugin. It should be turned on for all relations by default but we may consider making it optional and explicit too so that you need to specify which relations should be exposed within a given relation.

Reminder: relation registry access is a module mixed into all relations that exposes access to all relations using method_miss

[2015-05-05 15:59] solnic opened #214 "Extend Command API with a support for persisting object graphs"
## API idea

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13192465-extend-command-api-with-a-support-for-persisting-object-graphs?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-05-05 19:04] cflipse opened #215 "commands aren't surviving a reload"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13210273-commands-aren-t-surviving-a-reload?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=gi

[2015-05-05 20:03] cflipse commented on #215
Umm, seems localized to a specific app.  Still not sure what's going on, but at least it's not universal.

[2015-05-06 10:33] #208 closed

[2015-05-06 14:26] cflipse commented on #215
* it only occurs on one app
* in that app, ONLY commands fail to reload
* Setup#command_classes is empty
* I checked, they're in the right directory
*they _are_ reparsed each time reload is fired (a 'puts' _does_ output)
* adding output to Command.inherited only fires on on initial load, NOT on reload
* calling ROM.register_command self in the command class does add it to the command_classes array

[2015-05-06 18:30] cflipse commented on #215
Down to:

The generators were producing commands under:  `app/commands/users/create`, but the class names were `UserCommands::Create` ... because of this difference, Rails did not recognize the commands as auto-loadable, and did not add them to the correct ActiveSupport::Dependencies array.

When reloading, AS clears the contents of that array, undefining each constant.  ROM-reloads every file in

[2015-05-07 00:23] cflipse opened #217 "ROM::Rails uniquness validation does not implement scopeing"
There's an option in Rails' uniqueness validations to limit the checks to a particular scope.  From what I can see, that option is not being applied.

[code]

the above should work, but there's currently no way to narrow the relation being checked.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13369015-rom-rails-uniquness-validatio

[2015-05-07 11:05] solnic commented on #217
What does this option do in AR? Run validation on `Tasks.user` scope?

[2015-05-07 14:14] cflipse commented on #217
It filters the query, so that it only considers records with the same value in the `user` field.

if `{ name: "Be Cool", user: "Joe" , deadline: "always"}` already eixsts, then
`{name: "Be Cool", user: "Joe", deadline: "tomorrow"}` would be invalid, but
`{name: "Be Cool", user: "Mark", deadline: "always" }` would validate.

Currently, both would fail validation.

[2015-05-07 17:07] nepalez opened #218 "Bug in ROM::SQL::Associations#graph_join with custom dataset name"
Following [my question in gitter](https://gitter.im/rom-rb/chat?at=5547e6f1414c35031ccec430) on the **use of the relation whose name differs from the corresponding table**, I think I've found the root of the problem. And this seems to be a bug.

Using this relation:

[code]

I've found that when I declare association (`one_to_many` etc.):

[code]

I have to use the name of the repository in `one_t

[2015-05-08 14:01] solnic commented on #218
Yes this is definitely a bug. When I added this feature we didn't have a way of setting up a custom dataset name. So, relation name was also dataset name. This must be taken into account now in both association DSL and then `graph_join`.

[2015-05-08 19:00] cflipse opened #219 "Rename Repository"
the internal adapter component, currently called a Repository, is not an example of the repository pattern, and could cause confusion  when discussing ROMs place in the overall storage arcitecture  of an application.

It would be better if this component had a different name.  I'm not terribly sure _what_ that name is, right now ... reasonable options could include `Datastore` or `Gateway`  but I'

[2015-05-08 19:18] nepalez commented on #218
Obviously, here is two options:

1. Change association DSL so that they use the **table** name, not the **relation** one
2. Alternatively we could change the `#graph_join`, so that it use the **relation** name

I'd prefer the first way because it doesn't require the second relation to be defined.

In such a case a proper use of association would be like this:

[code]
Relation for tasks is not nece

[2015-05-08 20:06] solnic commented on #219
I'm leaning towards `Datastore` because it would play nice with `Dataset`. OTOH only exposes access to datasets, so hmmm maybe `Gateway`? As in a gateway to access datasets?

[2015-05-09 06:54] splattael commented on #219
I like `Gateway`!
Should we deprecate the usage of `Repository` somehow to make the transition easier?

[2015-05-09 09:06] solnic commented on #219
Yes that's the plan
On Sat 9 May 2015 at 08:54 Peter Suschlik <notifications@github.com> wrote:

[2015-05-09 09:14] maetl commented on #219
`Gateway` is okay from my perspective.

[2015-05-09 09:45] nepalez commented on #218
I'm afraid, there is a deeper problem that appears here.

[As it stated in overview](http://rom-rb.org/introduction/overview/), the commands and relations are expected to be separate.
But the implementaion differs: commands back on *relations*, not "pure" *datasets*.

[code]

Following overview, I'd expect the syntax to be something like this:

[code]

It is the example that would be consistent to

[2015-05-09 11:20] solnic commented on #218
Not really, it's not a problem. Commands use relations but each relation exposes its dataset so a command could use dataset directly, in fact rom-sql does that in a couple of places.

[2015-05-09 12:15] solnic commented on #219
Yeah, like gateway to another realm, gateway to another dimension or just gateway to postgresql ;)

Anyhow, do you think it's reasonable to schedule this change for 0.7.0? It's a massive rename + deprecate work but shouldn't be hard, just tedious. Hmm.

[2015-05-09 12:42] cflipse commented on #215
This is fixed, but we'll want to cut a new release of rom-rails soon, to get this fix out in the wild.

[2015-05-09 12:42] #215 closed

[2015-05-09 12:46] solnic commented on #215
OK let’s fix remaining issues (or at least try) and push rom-rails next
week :)

On Sat, May 9, 2015 at 2:42 PM Chris Flipse <notifications@github.com>
wrote:

[2015-05-09 12:48] cflipse commented on #219
Yeah -- Gateway is the name for a (family) of patterns that are basically thin access to an external system.  Provide a focused internal api around a RestClient library, that sort of thing.  It actually fits our usage really well here.

I suspect it's reasonable to chase for 0.7.0, unless we're looking to release on Monday.  ;)

Transitionally, we need to add Gateway to the various lookups, add de

[2015-05-09 12:56] cflipse commented on #215
sounds good.

[2015-05-09 14:10] solnic commented on #219
I was thinking about May 20ish as the release date. I have to admit that this change would be very low on my personal priority list so help would be appreciated.

[2015-05-09 14:14] solnic commented on #219
Oh and regarding deprecations: no, we don't have anything in place yet. I think we should put something together as deprecations is not something we'll manage to avoid after all.

[2015-05-09 16:15] nepalez commented on #218
Of course, you're right: the dataset is accessible.

IMHO the problem is that a Sequel knows nothing about relations, and with it we HAVE TO use datasets. At the same way in association we refer to relations, which is a bit perplexing.

For example, to fix the bug, I forked the repo and [changed integration spec](https://github.com/nepalez/rom-sql/blob/master/spec/integration/read_spec.rb#L37-L40)

[2015-05-10 06:14] maetl commented on #219
Alternatives to `ROM::Gateway` I just thought of: `ROM::Store` or `ROM::Source`.

[2015-05-10 15:31] nepalez opened #220 "Add mapping of associated table to array of values instead of tuples"
Make it possible to map a submodel to array of strings, not tuples, using mapper DSL:
[code]
say this leads to:
[code]
It seems usefult to allow coersion into array of values, not tuples:
[code]

From [this short discussion](https://gitter.im/rom-rb/chat?at=554f6212675c1d50549ed42d)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/140

[2015-05-11 09:52] solnic commented on #218
Fixed via rom-sql#25

[2015-05-11 09:52] #218 closed

[2015-05-11 11:38] nepalez opened #221 "Compact results of grouping in mappers"
trying to sort out mapping DSL, thought it wound be nice to have something like this:

[code]

The cause is to exclude `nils` (not a surprising yet) when the model returns it:

[code]

Maybe there is a better way to deal with such `nil`s?

Or maybe there is some "standard" way to coerce the results of groupint (wrapping etc.) from a mapper ('cause I think it is its responcibility to adopt data to

[2015-05-11 11:42] nepalez commented on #221
Just understood #220 is a special case of this issue

[2015-05-12 17:20] solnic opened #222 "default repo set to nil when another repo is registered under custom name"
Looks like Railtie sets up `nil` as the `:default` repo when there's no actual default repo configured.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14488527-default-repo-set-to-nil-when-another-repo-is-registered-under-custom-name?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bo

[2015-05-13 10:10] #213 closed

[2015-05-13 11:30] #194 closed

[2015-05-13 13:24] cflipse commented on #204
Test to reproduce is here:
https://github.com/cflipse/rom-rails/commit/a17012030c046634fb34661ac68c5c1bb3b89a2f

Looking at this, I'm not actually sure that this is a rom-rails error.  I think the "actual" bug is that the exception is leaking out of the `try` block, rather than the expected `ROM::Commands::Result::Failure` object

[2015-05-13 13:46] cflipse commented on #204
So, I can make that specific error go away with a small code change, _but_

Here's the thing:  ActiveRecord lets validation errors bubble all the way up, typically.  You violate a database constraint, it explodes immediately.  This is kind-of good, as you get an error close to the failure.  ROM swallows the constraint errors and return them in a failed command data object, and you check / verify a

[2015-05-13 13:50] cflipse commented on #222
I'm not experiencing that; do we have reproduction steps?

[2015-05-13 14:00] solnic commented on #204
This is a super important subject to discuss. My way of thinking about it initially was that we're gonna treat specific constraint violations as validation errors too that were raised by the db backend (sequel in our case). Then you are free to handle them however you want, ie you may re-raise the error if you want.

I'm not sure what the problem is with re-rendering the form. What `no method` err

[2015-05-13 14:03] solnic commented on #222
Do you have a rails app where there's no `:default` repository and only custom one is set?

[2015-05-13 14:07] cflipse commented on #222
Oh ... meaning nothing in the AR loaded configs.  No, I don't.  Misunderstood the description.  Carry on. :)

[2015-05-13 14:34] cflipse commented on #204
in progress:  https://github.com/cflipse/rom-rails/tree/constraint-errors

If you pull that branch and run the specs, you'll get:
[code]

So, on a failure, the form assigns and treats the error as the value coming back from command.try, which nests whatever real failure it got.  Sometimes, that's a validation error.  Sometimes, that's the database constraint.

The form is expecting the nested comm

[2015-05-13 14:48] solnic commented on #204
Yes that was my idea, not to choke on those errors and handle them gracefully and simply treat db constraints as your second defense against corrupted data.

[2015-05-13 18:16] carlisia opened #223 "Improve Rails relation generator"
When a relation is auto-generated, it should include:

`repository :widget_repository`
`register_as :widgets`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14693818-improve-rails-relation-generator?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2015-05-13 21:46] #163 closed

[2015-05-14 09:50] #178 closed

[2015-05-14 10:13] solnic commented on #164
I'm gonna hold off with this for now. I think it needs some discussion. ie maybe inheritance should be used here.

[2015-05-14 10:48] #209 closed

[2015-05-14 11:03] solnic commented on #202
I agree with @cflipse - anybody up to fixing it? I'm planning to release 0.7.0 next Monday. I'm done with my tasks and won't have much time to do anything else.

[2015-05-14 12:15] carlisia commented on #223
I personally like `register_as :widget_model` better.

[2015-05-15 10:38] solnic commented on #211
I'm not sure how to add additional `ON` criteria but I added support for `:conditions` and setting custom association name. See referenced commit.

[2015-05-15 10:51] solnic commented on #211
OK now I know how to do it I just need to know what the interface should be. Any ideas?

[2015-05-15 10:55] solnic commented on #153
Just wanted to mention that with ROM 0.7.0 we have `combine` interface that issues multiple queries and allows simple mapping into aggregates w/o the need for prefixing columns etc.

I'm keeping this issue open though as using joins is also useful and I think ROM should make it as easy as possible.

[2015-05-15 11:52] #221 closed

[2015-05-15 12:33] solnic commented on #191
So here's a mystery - it works in tests, but not in console, I'm clueless.

[2015-05-16 12:46] #223 closed

[2015-05-16 13:08] cflipse commented on #211
Unfortunately, `where` isn't the same as `join ... on` for outer join scenarios; there really does need to be a way of handling the `on` conditions specifically.

`select * from users left join tasks on tasks.user_id = user.id and tasks.state = 'active'` is different than
`select * from users left join tasks on tasks.user_id = user.id where tasks.state = 'active'` ... the former gives back all use

[2015-05-16 15:25] solnic commented on #211
I know how to do it. It's gonna be messy for `many-to-many` probably. Any idea how the interface should look like?

[code]

??

[2015-05-17 02:52] cflipse commented on #211
That works for me.

We may or may not want to just let that completely subsume all of the FK/join key specification that exists currently; I'm not sure how nice it looks with both:

[code]
vs
[code]

I think I'm okay with either.  Maybe the mental gymnastics required to figure out which direction the keys go in `one_to_many` vs `many_to_one` argue for keeping the key paramter.  I wouldn't eliminat

[2015-05-17 02:54] cflipse commented on #204
fixed in rom-rb/rom-rails/pull/35

[2015-05-17 02:54] #204 closed

[2015-05-17 02:57] cflipse commented on #191
Do the changes in rom-rb/rom-rails#35 address this?

[2015-05-20 10:11] solnic commented on #211
Done [here](https://github.com/rom-rb/rom-sql/commit/7028f3b38c002e1e306636f5d074ecd2f82124ec)

[2015-05-20 10:11] #211 closed

[2015-05-20 10:13] solnic commented on #191
We discussed this with @cflipse and agreed that constraint errors and db errors should be re-raised and should be handle by application's code. See recent changes in rom-sql. Closing this one.

[2015-05-20 10:13] #191 closed

[2015-05-20 10:34] #171 closed

[2015-05-21 14:08] c0 opened #235 "Renaming `ROM::CommandRegistry#as` to `#map_to`"
One of the things that's confusing as a new ROM user is that `#as` is used with a mapper. From the TODO example —

[code]

When I run —

[code]

It's not clear what the second `:tasks` is or where it comes from.

I would like to recommend it be renamed to be more descriptive like `map_to`. Open to other ideas.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-05-21 14:15] nepalez commented on #235
@co, actually the mapper can map data without any model at all -- to pure hash. That's why naming it after the model is not a good idea. Instead, you can explicitly define the name of the mapper:

[code]

[2015-05-21 14:21] c0 commented on #235
@nepalez I don't think the confusion is in the naming of the mapper, but that `#as` does not have any indication that it's using a mapper.

[code]

[2015-05-21 14:27] nepalez commented on #235
I see. As for me, I feel conformed with `as`, but maybe you're right.
I think the substantial part of the confusion is a lack of documentation. Feel it as a stimulus for myself to write it faster :)

[2015-05-21 14:32] c0 commented on #235
I agree that documentation is immensely useful, but it's better when the code is clear without it. Both are needed :)

[2015-05-21 14:37] solnic commented on #235
`as` is an alias of  `map_with` and we still haven’t decided which one is
better :)

On Thu, May 21, 2015 at 4:32 PM Caleb Wright <notifications@github.com>
wrote:

[2015-05-21 14:38] c0 commented on #235
@solnic good to know. I personally like `#map_with`

[2015-05-21 16:06] solnic commented on #235
btw you can pass multiple mapper names there ie `rom.relation(:users).map_with(:entity, :view_presenter)` which for me is an awesome feature :D

[2015-05-21 21:54] cflipse commented on #235
eh, I actually prefer `as` ... I want to get the results of this relation *as* a  `:user_with_tasks`  ... makes plenty of sense.

[2015-05-21 23:58] solnic commented on #235
me to, it reads nice imo just like you said. I guess we need to make a decision and stick to just one for 1.0.0 :)

[2015-05-22 00:35] maetl commented on #235
I prefer `as` too. Having `map_with` there as an alias is okay from my perspective. It’s potentially a more intricate API than it needs to be, but I can see uses of both for readability reasons, depending on the particular style of client code.

For example, Sequel aliases `where` and `filter`.

[2015-05-22 01:37] c0 commented on #235
The way I read `as` is that it's expecting a *noun*. i.e. the object/model you'll end up with. I see mappers more as *verbs* and transformative rather than an end result. So something like `rom.relation(:users).through(:entity, :view_presenter)` makes more sense.

At the end of the day, I'll follow the consensus. I've been a ruby dev for a number of years, but am new to rom-rb and just wanted to s

[2015-05-22 14:41] kwando opened #236 "Errors in commands is not wrapped when called with [] in try blocks"
[code]
vs

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16744627-errors-in-commands-is-not-wrapped-when-called-with-in-try-blocks?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-05-22 15:00] solnic commented on #236
a fix is as simple as adding `alias_method :[], :call` to `ErrorWrapper`, I think

[2015-05-22 19:17] nepalez commented on #220
The `fold` mapper operation added to v0.7.1

[2015-05-22 19:17] #220 closed

[2015-05-22 19:19] nepalez commented on #200
I know the use case. It is for requesting denormalized data from non-sql (cassandra, mongo etc.) that supports collections, normalizing them via mapper and moving to sql.

Pretty weird case, but existing

[2015-05-22 19:47] solnic commented on #200
Let's do it then. ROM must be the most advanced data mapper in Ruby after all \o/

[2015-05-22 19:53] nepalez commented on #200
Will do it the next week

[2015-05-23 06:28] kwando opened #237 "Nicer error messages when (miss)using combine"
If you forget to use combine on either a relation or mapper rom blows up with an unreadable Transport error.

[code]

[code]

In general I expect some kind of ROM::MappingError instead of the Transproc errors leaking out.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16930645-nicer-error-messages-when-miss-using-combine?utm_campaig

[2015-05-23 10:43] solnic commented on #237
Any ideas how to display the error so that it's relatively easy to figure out what went wrong?

[2015-05-23 10:54] solnic commented on #222
It's now fixed as we check if AR is present and only then we set default *if* it wasn't set already in an initializer.

[2015-05-23 10:54] #222 closed

[2015-05-23 10:58] solnic commented on #108
OK this ain't gonna happen. You can easily configure ROM using its interface, no need for extra complexity that comes with parsing some yaml files.

I feel very strong about this so I'm going to close this issue. If somebody can come up with good arguments why this is a good idea, please comment and we can discuss.

[2015-05-23 10:58] #108 closed

[2015-05-23 11:02] solnic commented on #219
Can we shoot for 0.8.0 with this mass-rename/deprecation? I added `Deprecations` module to `rom/support` which can be used for this easily.

Are we done deciding on the name? I'm good with `Gateway` :)

[2015-05-23 11:13] nepalez commented on #219
I like both the `ROM::Gateway` and `ROM::Source`

[2015-05-23 11:53] solnic commented on #153
This is now scheduled for 1.0.0 and should be included in one of the 0.x.0 upgrades prior 1.0.0 final

[2015-05-23 12:05] solnic commented on #214
@cflipse thoughts? :)

[2015-05-23 12:08] solnic commented on #103
This is now available in rom-yaml 0.1.0

[2015-05-23 12:08] #103 closed

[2015-05-23 12:14] solnic commented on #202
Fixed via 74b74dc

[2015-05-23 12:14] #202 closed

[2015-05-23 12:18] solnic commented on #235
Let's see what people prefer and decide for 1.0.0 how it should be named. Closing this for now.

[2015-05-23 12:18] #235 closed

[2015-05-23 13:48] c0 commented on #235
Sounds like a plan. Thanks everyone for the feedback!

[2015-05-23 17:31] solnic commented on #219
`Source` is a bit too vague, no?

[2015-05-23 18:32] cflipse commented on #219
Just a bit.  :)

0.8 sounds good; I'll work on this during the week

[2015-05-23 18:49] solnic commented on #219
That would be awesome. I actually start thinking about wrapping up 0.8.0 before RubyNation (June 12th). Stuff that's schedule for this release should be very time consuming...guides on rom-rb.org come first though, that's my current focus.

[2015-05-25 06:29] gotar opened #241 "Allow to reuse tuple in mapper"
Right now tuple cannot be reused in mapper.

[code]
Only one operation is permitted, for second `:foo` will not exists

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17481177-allow-to-reuse-tuple-in-mapper?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-05-25 11:54] #236 closed

[2015-05-26 11:03] solnic commented on #217
This is now done via rom-rb/rom-rails#36

[2015-05-26 11:03] #217 closed

[2015-05-26 16:44] kwando opened #242 "Relation#combine should be chainable."
The last call to combine overrides previous combine calls.

This should hold:
```relation.combine(rel1, rel2)``` ==  ```relation.combine(rel1).combine(rel2)```

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17894386-relation-combine-should-be-chainable?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=git

[2015-05-26 16:50] solnic commented on #242
I believe it's a matter of defining `Graph#combine` which does `self.class.new(root, nodes + *args)` Will take a look tomorrow

[2015-05-26 17:31] cflipse commented on #219
PR for this: #243

[2015-05-27 09:36] #219 closed

[2015-05-27 10:43] #183 closed

[2015-05-27 14:58] kwando opened #244 "Including methods in relations via module is not working"
I'm not sure if this is a bug or not but I was expecting this to work.
[code]
Error:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18139220-including-methods-in-relations-via-module-is-not-working?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2015-05-27 15:26] AMHOL commented on #244
This is due to the use of <a href="http://ruby-doc.org/core-2.2.2/Module.html#method-i-method_added" target="_blank">Module.method_added</a> to expose relation methods in <a href="https://github.com/rom-rb/rom/blob/master/lib/rom/relation/class_interface.rb#L71-L74" target="_blank">Relation</a>, and when you include a module it doesn't actually define the methods on the including class, it just ad

[2015-05-27 15:36] solnic commented on #244
Yeah this will be addressed prior 1.0.0 for sure. I'm reluctant when it comes to hooks too although I have to say that it's a pretty neat trick in this case ;)

I guess having `RelationInterface` module ain't that bad huh?

[2015-05-27 15:41] AMHOL commented on #244
Yeah, think the `RelationInterface`  makes it a little nicer, Githubs stupid editor won't let me edit the comment above for some reason (it blanks out the text box), but that should be `public_instance_methods` rather than `instance_methods`

[2015-05-29 08:33] #214 closed

[2015-05-29 17:06] carlisia opened #249 "Finding a relation with a different name than `register_as` when it shouldn't"
When having ```register_as :some_name_widgets``` inside a relation, this should not work: ```rom.relation(:widgets)```, but it does.

[2015-05-29 17:11] carlisia opened #250 "Missing mapper's `register_as` does not cause an error to be thrown"
A mapper needs to have ```register_as``` and when it doesn't, it needs to throw an error, but it is not.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18703770-missing-mapper-does-not-cause-an-error-to-be-thrown?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-05-29 17:14] carlisia opened #251 "Missing mapper does not raise an error"
When a mapper is missing from the registry, it should throw an error. Instead, it is returning ```nil```.

[code]

[2015-05-29 17:18] carlisia commented on #250
...aaaand it was my mistake, no bug here, moving along...

[2015-05-29 17:18] #250 closed

[2015-05-29 17:19] carlisia commented on #249
Not a bug.

[2015-05-29 17:19] #249 closed

[2015-05-29 21:05] solnic commented on #251
The reason why it happens is that lazy relation sets its internal mapper
registry to an emtpy hash by default. A simple fix is to replace it with
MapperRegistry.new which raises an error when mapper is missing.
On Fri 29 May 2015 at 19:14 Carlisia Campos <notifications@github.com>
wrote:

[2015-05-30 09:43] solnic opened #253 "0.8.0 release plan"
This release is going to be massive wrt number of gems that are going to be pushed and additional work related to the guides on the website. Most of the heavy work is done already so I'm targeting next Wednesday - June 3, as a super optimistic release date ;). More realistic vision is to wrap it up over the weekend and push on Tuesday June 9th (I'm traveling on the 8th).

### TODO

- [x] wrap up `

[2015-05-30 20:54] kwando opened #254 "Delete in memory adapter does not behave the same as rom-sql"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19010453-delete-in-memory-adapter-does-not-behave-the-same-as-rom-sql?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F155789&utm_m

[2015-05-30 22:47] kwando commented on #154
Oh, this would be awesome =)

I usually define  a private ```base``` method that all other methods is using.

[code]

Having something like you suggesting by default in ROM would be nice option.

[2015-05-30 23:07] pnomolos opened #255 "Scope relations' method resolution to direct classes"
This is mainly because Rails is stupid, but for example I was trying to do the following:

[code]

Which raises an `ArgumentError` due to http://apidock.com/rails/Object/with_options - due to the use of `method_missing` to call the relation's methods it ends up calling the method on `Object` instead.

I'll work around it for now, but wondering if anything has been thought about in this regard?

<b

[2015-05-31 07:53] solnic commented on #255
Gah that's just...

Anyway, that method_missing will be gone prior 1.0.0. Each relation will have its own lazy-class that will decorate relation's methods to provide autocurry mechanism and so on.

Now you just gave me a reason to do it faster :)

[2015-05-31 07:59] solnic opened #256 "Split rom into pieces"
rom gem reached ~2.5k LOC so it's becoming quite big. It is also harder to see it's decoupled and toolkit-oriented nature which is why it might be a good idea to break it down into smaller gems.

One way to do it would be:

* rom-core - essential low level APIs (options, class macros, FP apis, core abstract interfaces, adapter interfaces etc.)
* rom-relation - everything from `ROM::Relation` names

[2015-05-31 16:43] c0 commented on #256
I like the idea of pulling these apart. It gives us an opportunity to show how to use the classes on their own without the DSL.

What do you think about pulling the DSL together in either `rom` or `rom-dsl`? (If it's possible). Or would this be covered by `rom-env`?

[2015-05-31 16:58] nepalez opened #257 "Mapper challenges"
I recognized that I see now 3 problems/challenges with mappers, that should be postponed to 0.9.0 (or, maybe to `rom-mappers`)

1. Change the visitor's path

Now mapping visitor's path consists of 2 global phases. At first it preprocesses all nodes with `group`, `fold` and their inversions, including nested groups. Then it visits plain attributes with renaming, filtering etc.

The problem with thi

[2015-05-31 17:14] solnic commented on #257
This:

[code]

is a weird way of defining mapping, makes me think we should remove this syntax, because it's the same as:

[code]

In general if a nested transformation requires mapping individual keys then those should be defined within the block, not at the root level. If you want the mapper to move keys from root to a nested structure then this is how it should be expressed.

I agree that this

[2015-05-31 17:17] solnic commented on #256
@c0 when you say `DSL` - what do you mean exactly? Setup DSL (`ROM.relation(:foo) {}` etc.) or in general DSLs that come with core classes (`Relation.gateway`, `Command.register_as` etc.)??

[2015-05-31 18:05] c0 commented on #256
Sorry, DSL isn't the right word.

I was wondering what it would look like to separate the pipeline/lazy API from instantiating the classes directly. (Mapper.build etc).

This may be implied by the list you have or it may be something not practical. :)

[2015-05-31 18:14] errinlarsen commented on #256
I like the proposed split (rom-core, rom-relation, rom-mapper, and rom-command, with a 'rom' meta gem for delivering a default stack). I think rom-env needs some work. It feels like there are a couple pieces tied together in ROM::Env; namely, the registries and the setup DSL.

What if I want to implement my own mapper DSL, use the provided relation DSL, write my own setup DSL, and I already have s

[2015-06-01 09:41] #254 closed

[2015-06-02 03:06] pnomolos opened #262 "Rails - Nested resource routes and forms"
I've run into difficulty when using a form for a nested resource, because it's the `Form` object itself defining `to_model`, rather than the object instance.  Of course, with nested resources this means that I will need to build a `Form` instance for every object that is used to generated a URL for the route, and that seems like a bit of a waste.  At the same time, I appreciate that you're trying

[2015-06-02 06:13] dekz opened #263 "Embedded doesn't support from"
We may be incorrectly using the the embedded syntax, but we can't use the `from:` option when passing in a mapper when using embedded (and some others).

[code]

We expected that syntax to work in conjunction with a CatMapper:
[code]

The following code seems to work, but we would prefer to pass mapper instead of always nesting in a block.

[code]

It just seems that the `from:` isn't being passed

[2015-06-02 06:16] dekz commented on #263
Ugh, silly me. Looks like you guys have already fixed this in f46e4f9e415c5606fc0e39c2474aeec83a912d16.

[2015-06-02 06:19] #263 closed

[2015-06-02 06:53] solnic commented on #263
Sorry you've been affected by this :) We're pushing 0.8.0 tomorrow (unless some unexpected blockers are found).

[2015-06-02 06:54] dekz commented on #263
No worries, cheers for that!

[2015-06-02 06:54] solnic commented on #262
Can you show me some code examples?

[2015-06-02 08:24] nepalez opened #265 "Possible bug in the mapper `symbolize_keys`"
Possible bug in the mapper `symbolize_keys`

I think this operation by its very nature should symbolize output keys whatever keys (strings or symbols) are in data.

Now it does something different [treating all the source keys as strings](https://github.com/rom-rb/rom/blob/master/lib/rom/mapper/attribute_dsl.rb#L319-L321).

That's why [this test](https://github.com/rom-rb/rom/blob/master/spec/inte

[2015-06-02 09:24] #242 closed

[2015-06-02 09:39] #251 closed

[2015-06-02 09:58] solnic commented on #265
I agree. It's misleading because what it really is right now is a shortcut so that you don't have to write `attribute :foo, from: "foo"`.

Maybe we should make it so that it becomes a preprocessing step that symbolizes everything (deeply as a option)?

[2015-06-02 10:35] nepalez commented on #265
I think the consistent behaviour should follow 2 simple rules:

1) If the attibute is set as a string it takes key from string (`:from` setting by default)

All the examples below should be synonyms:

[code]

[code]

[code]

[code]

In the last case ^ the attribute is a string, so its source is a string too whatever prefix is.

Mutatis mutandis for symbols.

2) If the `symbolize_keys` is set, it s

[2015-06-02 10:47] nepalez commented on #265
I don't think we should include keys transformation to special preprocessing. I like the current mechanism because it allow multiple switching from `stringify_keys` to `symbolize_keys` "and back again" when necessary (see the latest example above).

[2015-06-02 10:50] solnic commented on #265
I need to think this through, definitely not something doable for 0.8.0 though.

[2015-06-02 10:52] nepalez commented on #265
I agree.

While the implementation is trivial, the deprecation needed for switching `symbolize_keys` to the opposite behaviour. It couldn't be included to 0.8 even if we wanted.

[2015-06-02 11:01] nepalez commented on #257
Think, you're right about the DSL.

This task can be closed, because its 1st part not necessary, 2nd is done by #264 , the third one requires some refactoring, but doesn't worth discussion

[2015-06-02 11:01] #257 closed

[2015-06-02 11:16] dekz commented on #263
I do have a quick question @solnic if you have a spare second. I'm trying to grok the usage of Mapping and how they relate to, well, Relations.

I will try and use the examples from the tests that I have been seeing lately, and maybe once I figure it out I'll write up a quick wiki on this repo to help explain it to the next person.

Let's say I have a list like this:
[code]

I want to map the data

[2015-06-02 11:32] nepalez commented on #263
In `0.8.0` to convert tuple:

[code]

into the output:

[code]

you could do this mapper:

[code]

The only difference from your example is that while grouping into tasks, the mapper will extract the `:user` from the list.

This is not a bug, but a sort of a policy IMHO. ROM mapper doesn't create the data, only rearranges the existing ones.

I think, populating tasks with the name of a user they r

[2015-06-02 12:56] dekz commented on #263
Thanks for the reply @nepalez, the requirement of having user duplicated is unnecessary and I guess I understand the principle of never duplicating data.

I did try your example on `0.8.0` and it doesn't seem to be able to infer the grouping on users.

[code]

Is the syntax missing a parameter that tells ROM how or what to group on?

[2015-06-02 13:15] solnic commented on #263
This one's tricky. I don't have time now but I'll take a look later today and try to figure it out :)

[2015-06-02 13:41] nepalez commented on #263
D'oh, sorry, this was my fault. I turn you to the wrong path.

The problem is that there's no way to group users after wrapping, because it groups mapped items, that are already different. Yes, this is tricky, i need some time to sort it out.

[2015-06-02 14:30] nepalez commented on #263
@dekz This would work:

[code]

Results step-by-step:

[code]

[2015-06-02 14:34] nepalez commented on #263
@solnic In the example above we could not use 4 (!) mappers. Instead we could use a sequence of commands within the only mapper:

[code]

The only thing why this doesn't work is that mapper is too lazy. It doesn't remembers that attributes were renamed. I wonder, whether we could do something here?

[2015-06-02 14:47] solnic commented on #263
haha! I thought today "well, we need to have a way to specify a sequence of transformations in a single mapper to avoid having to use multiple mappers"

so I guess we should just do it, question is: how the dsl should look like?

[code]

??

[2015-06-02 14:49] nepalez commented on #263
The wonderful part of all of this is my last example is already works (well, except for renaming attributes).

[2015-06-02 15:00] nepalez commented on #263
Maybe this would more "natural":
[code]

On every step the sequence `compose --> preprocess --> process primitives --> postprocess` would be done, so at the first of the next step we could do the same data as it were mapped before.

[2015-06-02 17:31] pnomolos commented on #262
[code]

[code]

Blows up with `undefined method 'to_model' for #<Product:0x007fe5584c7c10>`

[2015-06-02 17:34] pnomolos commented on #262
I fully understand _why_ it's blowing up, I'm wondering what the best way to solve this "Railism" is going to be.

[2015-06-02 18:04] solnic commented on #263
hmm yeah I think I like that

[2015-06-02 18:42] solnic commented on #262
forms implement AM::Model interface so I'm lost right now

[2015-06-02 18:44] pnomolos commented on #262
@solnic Only option is a Form, product is just an instance of my Product model (which is just a PORO).  I'm wondering if there is an easy way around this beyond creating an additional Form object for the product.

[2015-06-02 23:25] cflipse commented on #256
The split makes sense to me; especially if it surfaces enough of an interface to be able to get a non-global ROM.env replacement.

[2015-06-02 23:40] cflipse commented on #262
Oh, I think I see what the problem is:

`form_for` calls `to_model` on each of the parameters in its sequence.   Ugh.

I'm rather doubtful that we want to forcefully interact with the polymorphic URL and form resolvers; that way lies a particular breed of Cthulhu madness.

My best suggestion would be to wrap your `product` in an AM presenter, to expose the naming and other expected bits.

Which is

[2015-06-02 23:47] dekz commented on #263
@nepalez thanks for that mate, it looks really good. Having those steps or sequences would also be a really good idea I feel. I am willing to try and help implement this if you like.

[2015-06-03 03:04] pnomolos commented on #262
What if there was a `ROM::Rails::Namer` (for lack of a better descriptor) instance that all the AM nonsense got delegated to, with the instance passed in as well?  So `product.to_model` would return `rom_rails_namer.to_model(product)` ?

[2015-06-03 07:40] solnic commented on #263
@dekz that would be awesome; it should be a simple addition as underlaying pieces are reusable. The contract should be that if there are steps, we only build up a mapper from those, if there are steps + top-level definition, we raise an error. step block would simply use `AttributeDSL` to gather attributes and store them in "steps" array and then you just build up each step using transproc compile

[2015-06-03 08:09] nepalez commented on #263
@solnic should this `step` to be included to the next release?

[2015-06-03 08:13] solnic commented on #263
I want to push 0.8.0 later today but I think I won’t make it > - <. Steps
could be added in 0.8.1 or 0.8.0 if we can make it.

On Wed, Jun 3, 2015 at 10:09 AM Andrew Kozin <notifications@github.com>
wrote:

[2015-06-03 11:00] solnic commented on #256
Yeah I feel like the time is right already...I mean after 0.8.0 release. So 0.9.0 would be a huge release with gems split and lots of internal clean up and getting rid of global setup and implicit registration etc.

[2015-06-03 12:42] kwando opened #266 "ROM::Commands::Result::Success#success?"
I'd like to have #failure? and #success? methods available on Commands::Result

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20068033-rom-commands-result-success-success?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-06-03 12:44] AMHOL commented on #266
:+1: I've thought about this before too

[2015-06-03 12:47] kwando commented on #266
It might not be very "functional" to have query those methods, but I often end up with "if result.error" code anyway

[2015-06-03 13:07] solnic commented on #266
This stuff ain't finished. We're looking at integration with Unsound gem from @pdswan

[2015-06-04 19:11] nepalez commented on #200
Transformation is implemented as `unfold`:

[code]

[2015-06-04 19:11] #200 closed

[2015-06-05 19:54] c0 commented on #199
My personal use-case:

I'm creating an aggregate object. It's one tuple b/c it's a join of 3 postgres tables (using `rom-sql`'s `association_left_join`). Each relation/table has an array of `amenities`. The aggregate needs to combine the three arrays into one.

One simple way may be to provide multiple keys in the `from:`. For example —

[code]

[2015-06-05 20:36] nepalez commented on #199
I like this syntax. But there is some edge cases

1) What would be the proper behaviour by default without a block:

`attribute :d, from: [:a, :b, :c]`

With the data: `{ a: 1, b: 2, c: [3] }`

Should it be: `{ d: [1, 2, 3] }` or `{ d: [1, 2, [3]] }`?

2) How this syntax should be expanded to `unwrap`, `ungroup`, `unfold`:

The trick is the syntax becomes `ungroup f: [:a, :b], from: [:c, :d]`.

An

[2015-06-06 11:03] nepalez opened #269 "Renaming nested attributes"
Maybe we need some method to rename nested attribute from:

[code]

At first I thought of a block syntax like:

[code]

But the block is already reserved for value coersion. And what about arrays:

[code]

So I have no good solution for DSL for now.

---

Actually I'm already threatened by the gazillion of methods that either already added to the mapper or can be added in future.

Maybe we should

[2015-06-06 11:11] dekz commented on #269
It is a little weird that attribute block is different from everything else. Maybe coercion syntax should change and attribute can follow the same convention regarding the blocks.

[2015-06-06 12:13] nepalez commented on #269
What I'd propose is the following approach (maybe this should be applied outside of ROM at all as an external mapper)

1) Every DSL leaf method is NOT a description of the result, but a description of transformation:

`rename :foo, to: :bar` instead of `attribute :bar, from: :foo`
`wrap :foo, to: :bar` instead of `wrap bar: [:foo]`
`unwrap :foo, from: :bar` instead of `unwrap bar: [:foo]`

etc.

O

[2015-06-06 12:27] dekz commented on #269
Being able to reach down into nested structures to map at that level is definitely something we need to consider.

My current workaround is to apply a mapper at that level using the attribute coercion, ie:

[code]

This workaround is not something that feels great.

[2015-06-06 15:35] solnic commented on #269
there's `embedded` which does exactly that:

[code]

[2015-06-06 15:52] nepalez commented on #269
Ahh! Need to document this

[2015-06-06 16:18] nepalez commented on #269
Mentioned embedded in mappers guide.

[2015-06-06 16:18] #269 closed

[2015-06-08 08:33] flash-gordon opened #271 "Adding AR timestamps via command plugin"
Hi,

I tried to implement support of AR timespamp fields (updated_at + created_at) via command plugin:
[code]

But I use Postgresql and therefore my plugin methods were overridden by DB-specific extension:
https://github.com/rom-rb/rom-sql/blob/e499585c293f640c300a2b62ffb210a6633d92eb/lib/rom/sql/commands_ext/postgres.rb

Should such extensions be implemented via plugin API? Should inheritance cha

[2015-06-08 08:50] gotar commented on #271
For me it should be set in `input` part of Command

[2015-06-08 14:27] kchien opened #272 "Undefined method 'acronym' with Rails 3.0.20"
I am using Rails 3.0.20 and my Gemfile contains the following rom gems:

[code]

To eliminate the source of the error, I removed all of my ROM related code (mappers, commands) and just tried to run my existing test suite, and I get the error below:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20985077-undefined-method-acro

[2015-06-08 15:25] AMHOL commented on #272
Yep, looks like the acronym inflection configuration support was only added in ActiveSupport `3.2.5`, could you try adding:

[code]

To your Gemfile, best solution for this is probably just updating the dependency to fit.

[2015-06-08 16:44] flash-gordon commented on #271
Like that?
[code]

[2015-06-08 17:15] gotar commented on #271
Yes if you insist on plugin. But probably input from command will overwrite it.

[2015-06-08 17:28] flash-gordon commented on #271
Ok, I'll keep it in mind. Also my implementation changes behavior of `input#[]` so it's not a pure function anymore.

Thank you!

[2015-06-08 17:28] #271 closed

[2015-06-08 21:33] solnic commented on #271
In rom-rails we just added it to `ROM::Model::Attributes` extension that works nicely with commands. You could do the same as @gotar suggests.

[2015-06-08 21:34] solnic commented on #272
Actually, we can skip loading that acronym if rails is not new-enough. This shouldn't be something that prevents people from using ROM with Rails.

[2015-06-09 08:38] flash-gordon commented on #271
Wow, right in time (=

[2015-06-09 12:45] c0 commented on #199
@nepalez Yeah, I was afraid it'd create oddities and do more harm than good :(

As a "solution", I ended up using the `model` method (since it receives the entire tuple). This is very much a hack and I would not recommend it, but wanted to throw it out there in case there's a better way.

[code]

[2015-06-09 13:20] nepalez commented on #199
@c0 I don't think your solution to be a hack. I agree to @AMHOL the domain model is a right place to do this transformation.

However I like your syntax in principle. In a couple of days I'll implement it in the [faceter's `create` command](https://github.com/nepalez/faceter#instantiating-models). Then we could look at it and decide whether it could/would/should be translated to rom mappers.

[2015-06-09 15:59] c0 commented on #199
@nepalez cool. I'm interested to see how it plays out.

The part that feels like a hack to me is where `.new` is overwritten and returns tuple, rather than an instance of the class. This goes against expectations.

[2015-06-09 18:20] nepalez commented on #199
Ah, yes. Maybe you'd better do it a module utility method, because you don't need to instantiate an object of your class. All in all this is a domain layer, not the datastore.

[2015-06-09 21:24] kwando commented on #199
You cannot use a module with a new method there, rom does a type check in the model method and it expects a Class.

[2015-06-10 12:55] ThijsWouters opened #273 "Create of memory adapter does not set id"
Or how would I set it automatically in memory? I want to mimic a sql database where the id field is set in the database.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21390123-create-of-memory-adapter-does-not-set-id?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties v

[2015-06-10 13:00] nepalez commented on #273
D'you mean "doesn't set it authomatically"? It shouldn't

[2015-06-10 13:04] AMHOL commented on #273
I did it like this: https://github.com/AMHOL/rom-playground/blob/master/lib/core/commands/create_user.rb

[2015-06-10 13:33] ThijsWouters commented on #273
@nepalez When I create an entity, I want to omit the id. So that in the real system the id is assigned by the database.
@AMHOL That looks like it is a possibility. But, how would I let the database choose the primary key.

[2015-06-10 13:38] AMHOL commented on #273
@ThijsWouters there is no database with the in-memory adapter

[2015-06-10 13:38] nepalez commented on #273
@ThijsWouters you have to look at the [rom-sql](https://github.com/rom-rb/rom-sql), that is wrapped around the `Sequel`. Using `Sequel` scheme you can define primary key, foreign key etc.

The `rom/memory` is a simple in-memory storage. There is no concept of primary key. As @AMHOL noticed above, you can provide your own, but it it totally up to you.

[2015-06-10 13:52] ThijsWouters commented on #273
@nepalez I know about that gem. But my project is still very new, and I don't want to pin myself to an implementation of a data source just yet. I will go with @AMHOL's solution for now.

Is this something that can be added?

[2015-06-10 13:56] nepalez commented on #273
No, I think adding the `uuid` as @AMHOL proposed is a sort of golden standard for `rom/memory`.

[2015-06-10 15:48] cflipse commented on #272
@kchien should be fixed in 759d5eaa9a22889c84b14b7e4b47c40c26e46b68

[2015-06-12 01:45] kchien commented on #272
@cflipse Thanks! :+1:

[2015-06-12 15:33] kchien opened #274 "Rails 3.0.20 -- ArgumentError: ROM is not missing constant Commands!"
Using the following gems:
===

1. Rails 3.0.20
2. my rom-rails fork, using @cflipse's recent commit. So my Gemfile has this line for rom-rails:
`gem 'rom-rails', :require => false, :git => 'https://github.com/kchien/rom-rails.git', :branch => 'wip_lower_version_in_gemspec'`  I needed to use this fork because the gemspec requires rom 0.8 which has not been released yet.
3. rom 0.7.1
4. rom-yaml 0.1

[2015-06-12 16:11] solnic commented on #274
Maybe we're missing a require somewhere in ROM :/

[2015-06-12 16:35] kchien commented on #274
@solnic I tried requiring many files, but I couldn't get past this error.  On the other hand, does my test setup look correct?

[2015-06-12 18:39] kchien commented on #272
Closing this issue since it's no longer a problem.  However, I made a similar fix in my fork that I didn't push to GitHub, which resulted in the error in issue #274 .

[2015-06-12 18:39] #272 closed

[2015-06-12 21:04] yarmiganosca opened #275 "rom-rails reloading is broken by spring"
Console reloading breaks when spring is running.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21736661-rom-rails-reloading-is-broken-by-spring?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-06-13 12:12] cflipse commented on #275
For context, so I'll remember:

on a freshly generated rails4 app, after generating relations and commands, if you fire up a rails console, `ROM.env.commands` will be empty after a `reload!`

Removing Spring restores expected behavior.  It's _probably_ something to do with spring naming, and load paths, or, _mumble_ ... I don't use spring, so hadn't tripped across this before.  We'll want to fix i

[2015-06-13 13:00] cflipse opened #276 "Unquiness validation fails for updates"
When updating an existing record, the uniqueness validation check does not filter out the "current" relation, and therefore fails.

Need to add a `where id <> {id}` to the uniquness criteria used.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21844741-unquiness-validation-fails-for-updates?utm_campaign=plugin&utm_content=tracker%2F

[2015-06-13 14:35] solnic commented on #276
That's a bit tricky. `Relation#unique?` doesn't know if we're talking about an existing object or not. We also can't just assume `id` as the primary key. Maybe we could extend the validator so that we can configure different behavior for existing objects and new ones and set some defaults there.

[2015-06-13 14:45] solnic commented on #274
@kchien actually, I think this won't work because adapter must be setup prior defining any rom components, make sure it is and this problem should be gone

[2015-06-13 15:32] solnic commented on #275
I just tried, `reload!` worked for me. Can we trigger reload after running generators?

[2015-06-13 15:43] solnic commented on #273
You could build a plugin which generates a UUID for commands.

[2015-06-13 21:00] #273 closed

[2015-06-14 03:29] kchien commented on #274
@solnic Thanks for your help.  If I remove the lines:

[code]
then the test will pass.  However, being new to rom, I'm not quite sure when and where I should define my create command.  I tried placing it after `rom.finalize` but the problem still persisted.

[2015-06-14 04:01] solnic commented on #274
Don't put them in test files, they are auto-loaded from `app/commands`

[2015-06-15 14:31] vrish88 commented on #276
What about something like `validates :name, uniqueness: {primary_key: :id}`?

[2015-06-15 14:45] cflipse commented on #276
That ... _might_ work.

in all honesty, I'm coming up against a slightly different situation.  I want to be able to validate uniquness for only a subset of actions, and I'm starting to think the "easiest" way might be to inject the relation (it's currently directly inferred, and so can only operate on the base)

Think:  A shopping list.  I want to guard against double adding milk if it's "to get"

[2015-06-15 15:17] vrish88 commented on #262
All of this AM craziness is related to figuring out the model name and the url for the record. If you provide the `:url` and `:as` options you can pass a PORO right into `form_for`.

[code]

Going forward though, I don't know we could communicate that they can do this with POROs.

[2015-06-15 15:20] pnomolos commented on #262
Oh I know (and that's ultimately what I did) - the problem is that some
gems people use are going to depend on the AMness and there won't be any
getting around these sorts of things :(

We definitely need a (hopefully not too large) HOWTO on just dealing with
Railsisms
On Mon, Jun 15, 2015 at 8:17 AM Michael Lavrisha <notifications@github.com>
wrote:

[2015-06-15 15:30] vrish88 commented on #276
I'm kinda still new to this so lemme know if I'm way off base... So validations in ROM are only done in the context of a Form right? So could we modify the form so that validations block could take a relation object as well as the name of a relation?

[code]

[2015-06-15 15:54] cflipse commented on #276
Validations take place in the context of a command, not a form.  ROM-rails imports validations from rails, and builds up some nicities around the definition, but core rom has a validation concept.

What you suggest _could_ work, except that there are some holes in both suggested structures, around _correctly_ filling in data from runtime (ie, that `id: :id` bit isn't actually valid, and shouldn't

[2015-06-15 15:55] cflipse commented on #276
(and, note that what I'm considering a need for there is beyond what rails uniquness validation usually covers, so ...)

[2015-06-15 17:04] cflipse commented on #275
Set about reproducing this locally.

I can get the bad behaviour, but it goes away _once you restart spring_

The problem is, like all things with `spring`, that you get completely confusing behaviour until you realize it's running, and kick it over, then all is fine.

Strangely, relations and mappers seem to work fine here.  I have to wonder if the problem here (other than "using spring") is down

[2015-06-15 20:15] cflipse opened #277 "running generators in the wrong order causes breakage"
If you run either the `rom:command` or `rom:mapper` generators before a relation exists, that generator will run fine.  However, _all_ subsequent rails commands will fail, as the generated commands/mappers attempt to reference the non-existant relation.

This could possibly be solved by defering the `ROM.finalize` call to first access of `ROM.env`

<bountysource-plugin>
---
Want to back this issue

[2015-06-15 21:43] #277 closed

[2015-06-15 21:44] solnic commented on #277
We now have a lazy-loaded env so this fixes it \o/

[2015-06-15 21:51] solnic commented on #262
If you want to use a PORO then it must respond to AM stuff, there's no way around that, we just need to live with this

[2015-06-16 11:24] ThijsWouters commented on #273
I created a plugin that does exactly this: https://github.com/ThijsWouters/rom-generated_id

[2015-06-16 16:18] kchien commented on #274
Thanks! That fixed the problem. I believe I may have uncovered another `undefined method` error, so I'll create a new issue.

[2015-06-16 16:18] #274 closed

[2015-06-16 16:22] solnic commented on #274
To be able to define ROM components (relations and commands) you need to make sure that `ROM.setup` was called before that. rom-rails loads initializer where you need to set up configuration, then it calls `ROM.setup` with provided config and *then* it loads components from `app/#{relations,commands,mappers}`.

We do, however, need to raise a meaningful error in cases like yours, which I'm going t

[2015-06-16 16:35] solnic commented on #273
Hah that's cool!

[2015-06-16 16:57] kchien opened #279 "undefined method `finalize' for ROM::Rails::Railtie:Class (NoMethodError)"
Using the following gems:

[code]

I got the following error when running my tests:

[code]

Should `#finalize` be defined as a singleton method instead of as an instance method?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22251801-undefined-method-finalize-for-rom-rails-railtie-class-nomethoderror?utm_campaign=plugin&utm_content

[2015-06-16 17:04] solnic commented on #279
Technically speaking we don't support rails 3.0.x but if somebody can provide a patch for this I'm happy to merge

[2015-06-22 03:12] tpitale opened #282 "Relation confusion"
`ROM.env.relation(:users)` vs. `ROM.env.relations.users` vs. `ROM.env.relations[:users` … the last two seem to be equivalent. The first wraps in a lazy.

The first responds to `as` to make use of mappers.

The last two respond to `insert` and `update` etc from rom-sql. The first does not.

Am I missing something … or is this just really confusing?

<bountysource-plugin>
---
Want to back this issue

[2015-06-22 03:22] tpitale commented on #282
The answer may very well be "just use commands everywhere".

[2015-06-22 09:04] solnic commented on #282
`rom.relations` is a lower level sort-of private inferface. It returns barebone relation objects that are used by commands. Relations can implement full crud interface. Which happens in rom-sql but for cud commands should be used as it's the higher level interface of rom.

[2015-06-22 14:11] tpitale commented on #282
May be something worth mentioning in the rom-sql docs … as I was trying to use what it says in the README there, and those are very similar (all coming from `env`). I wouldn't be surprised if that's confusing to others.

Or maybe it'll just be in a later rom-sql guide on using the commands they have built in to that gem?

Closing for now, let me know if you want me to do anything on this re: docum

[2015-06-22 14:11] #282 closed

[2015-06-22 14:14] solnic commented on #282
@tpitale gah, yeah I need to remove examples from that readme, they indeed can confuse people.

You can check out the new [SQL](http://rom-rb.org/guides/adapters/sql/) guide.

[2015-06-23 23:01] #253 closed

[2015-06-24 17:40] cflipse commented on #275
forgot to leave further notes:

I've got a better idea where the problem is coming from, and it's tied in with the AS::Dependencies autoloading; I just need to figure out how to make sure everything gets registered in the right place.

It _only_ occurs if you start rails before creating a mapper, relation or command.  If one already exists, it'll make it into the autoloaders correctly.

[2015-06-27 08:34] artemeff commented on #33
@solnic hi! In current version you implement storing data in JSON, but what if we will be store it as is? Just like array of values – user can choose right structure and we can respond it's relation as collection of simple values.

And I can take this adapter, btw :)

[2015-06-27 09:42] solnic commented on #33
@artemeff hey :) we should support any format of course, I just started with JSON for a simple PoC version. I'm not a redis user so I don't know how this adapter should work, unfortunately :/

[2015-07-14 02:27] nwallace opened #285 "Use same timezone as Rails in rom-rails"
Rails configuration includes a timezone setting, but rom-rails does not configure the database layer to use that timezone.

In my app, I'm using rom-sql (for a Postgres DB), so I can workaround this issue by configuring Sequel manually ([docs here](http://sequel.jeremyevans.net/rdoc/classes/Sequel/Timezones.html)), but this seems like the kind of thing it would be good for rom-rails to do automati

[2015-07-14 03:04] cflipse commented on #285
It does.

How are you currently triggering?  Should be _fairly_ easy to throw into the railtie.

[2015-07-14 08:27] solnic commented on #285
Not really, rom-rails is not sql-specific so that would have to go to rom-sql gem.

[2015-07-14 14:27] cflipse commented on #285
Hrm.  Pointing that out, this actually seems like it's something that should apply to _most_ adapters.  Otherwise, you're mixing data from a *-sql adapter in Eastern, a Mongo adapter in UTC, and a web service in Pacific time ... and that could go Poorly.

[2015-07-14 15:38] cflipse opened #286 "Add ability to register custom coersions"
Now that we're moving away from a centralized Transproc function registry, we need someplace to put coersions for domain value objects, so that:

[code]

will coerce Book#isbn to an ISBN type value object.

You can do this currently by calling `ROM::Processor::Transproc::Functions.import` but that's gobal, and deeply nested enough that it _screams_ private.  Cleaner, more explicit support in the c

[2015-07-15 11:09] solnic commented on #286
Maybe we should use existing mapper dsl:

[code]

We could also add support for instantiating structs through:

[code]

[2015-07-15 11:30] c0 commented on #286
A lot of the API style is to create a subclass which registers itself. What are your thoughts on:

[code]

Also, the concept of prefixing with `to_` feels too indirect and requires familiarity with transproc.

[2015-07-15 11:41] nepalez commented on #286
@c0 I don't think this should be class, because there is nothing to instantiate

[code]

Here ROM::Coercer could in turn
* `extend Transproc::Registry` (allowing to include external modules and/or their singleton methods),
* define `register_as` method for ROM env

[2015-07-15 11:44] AMHOL commented on #286
Please don't add any more `register_as` :(

[2015-07-15 11:45] nepalez commented on #286
@AMHOL (1) why? (2) if so, we can simply go with `Transproc::Registry`

[2015-07-15 11:47] AMHOL commented on #286
It makes me sad to see state held on a class level like that

[2015-07-15 11:50] AMHOL commented on #286
Also, Transproc is an optional dependency, and ROM has an adapter between mappers and Transproc, so I think extending Transproc::Registry in a ROM core component is a no-go

[2015-07-15 11:52] c0 commented on #286
@AMHOL I'm with you and am all for removing state. I pointed it out because it would be consistent with the rest of the API.

[2015-07-15 11:55] nepalez commented on #286
@AMHOL  "Don’t be sad" (c) Magical Deer

Ahh, yes you're right about dependency. Then registering a coerser is no-go.

But I wonder if the whole idea of coercer is coupled to specific mapper. If so, we could mix transproc to mappers and use mappers as local registries except for global one.

[2015-07-15 15:57] cflipse commented on #286
No, it's not good to be tied to a specific (single) mapper:

that means, either I have to base-class all my internal mappers, or I have to redo the corecer for every  mapper that happens to use that type.  Since one of the compelling things about value objects is that they can be freely scattered everywhere needed, that could be a _lot_ of mappers.

[2015-07-15 17:33] nepalez commented on #286
@cflipse What about base `ROM::Mapper`. We could extend it by `Transproc::Registry` and then add shortcuts `#[]` (aliased as `#t`) to access its singleton methods from every mapper instance, not to mention mapper classes.

[2015-07-15 17:35] solnic commented on #286
This would mean we have dependency on Transproc. But maybe that would not be a bad thing. Hmm.

[2015-07-15 17:36] nepalez commented on #286
@solnic Well, in `ROM::Mapper` we have that dependency.

We could (as @AMHOL pointed, if I understood it correctly) use other mapper engine, and this make global `ROM` dependency no-go.

[2015-07-15 17:41] solnic commented on #286
@nepalez technically speaking ROM uses its default transformer compiler to turn a mapper header into transproc function, but it's not a real dependency, it is decoupled from the implementation pov

[2015-07-15 17:45] nepalez commented on #286
Ahh, i see. But this make me curious whether we really expect somebody some time decide to write its own compiler to substitute Transproc? I'd rather expect somebody to write another mapper based on the same transformer :)

[2015-07-15 17:59] solnic commented on #286
@nepalez I think it's nice to keep it separate and leave that option, who knows what people could come up with :) But I'm not 100% sure if it's worth the effort.

[2015-07-15 18:01] solnic commented on #286
...that's why I'm so eager to see how your abstract_mapper + faceter evolve. If we could establish a solid mapper AST that can be used to produce fast mappers then we could have compilers that turn that AST to *whatever*, be it a transproc function or something else. I also hope that optimizations could be really advanced so that we can keep things very fast.

[2015-07-15 18:22] nepalez commented on #286
...I'm trying to faster the process by reading Dragon Book. Seems like this was not a cute idea.

[2015-07-15 19:17] UrsMetz opened #287 "SQL migration example not working with current rom-sql version"
When I created a migration (using rom 0.8.1 and rom-sql 0.5.2) along the lines of http://rom-rb.org/guides/adapters/sql/ I got an SQL exception (the database was a file based sqlite3 database).

I think the reason is that the correct syntax to declare the type of a column is
[code]
instead of
[code]
as described on the bottom example page because using the former syntax worked for me :-).

<bounty

[2015-07-15 19:26] solnic commented on #287
Oh, thanks for reporting that - you are right of course, will fix :)

[2015-07-16 16:42] cflipse commented on #286
I'm fine with base mapper, if that implied dependency is good with others

[2015-07-16 17:08] AMHOL commented on #286
I think the beauty of swappable dependencies, is swappable behaviour, who knows what you could twist and bend ROM to do if you were to replace the transproc dependency, but without the option, we end up with a monkey-patch it and run philosophy that I would avoid at all costs. Middleman adapters FTW IMO.

[2015-07-17 12:44] #287 closed

[2015-07-20 10:46] AMHOL commented on #256
Defo :+1: for this, rom-mapper will be particularly useful stand-alone

[2015-07-20 13:13] solnic opened #290 "Auto-generated commands use the same validator in Rails Form objects"
Which results in problems like [this question on SO](http://stackoverflow.com/questions/31505336/rom-rb-form-validation-when-using-multiple-relations)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24646882-auto-generated-commands-use-the-same-validator-in-rails-form-objects?utm_campaign=plugin&utm_content=tracker%2F155789&utm_mediu

[2015-07-24 16:12] solnic commented on #256
So, having second thoughts on `rom-commands` and `rom-relation` simply because those are abstract interfaces, practically speaking. Even though you can use `ROM::Relation.new([])` it still doesn't seem to be useful enough to justify having a separate gem for that.

Maybe we should have `relation` and `commands` part of `rom-core` as abstract interfaces required by adapters?

[2015-07-30 04:06] hotarubi opened #292 "ROM 0.8.1 combine, follow the example but got error"
I followed the example here to use combine: http://rom-rb.org/guides/basics/mappers/#defining-and-using-mappers
[code]

Then I got
[code]

Can you help to check if any thing I've done wrong? Many thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25148816-rom-0-8-1-combine-follow-the-example-but-got-error?utm_campaign=plugin&utm

[2015-07-30 05:03] xaviershay commented on #292
Pretty sure you need a `for_orders` method on the `Items` relation.

See the example in "Combining Tuples from Several Relations" at http://rom-rb.org/guides/basics/mappers/

[2015-07-30 05:09] hotarubi commented on #292
Thanks @xaviershay : )

[2015-07-30 05:09] #292 closed

[2015-07-30 08:34] waiting-for-dev opened #293 "combine from a Hash (?)"
I'm trying to use rom in order to migrate data from a legacy database to a new one.

In the legacy database I have one single table `clients`, which have both client and address information for the client, while in the new database I have two tables `clients` and `addresses`, related with a foreign key.

For the new database `clients` mapper I'm using `combine` method in the following way:

    mo

[2015-07-30 17:12] solnic commented on #292
FWIW I'm working on a higher-level abstraction to simplify this kind of stuff for all the common use cases - it's called [rom-repository](https://github.com/solnic/rom-repository). Feedback most welcome, will release first alpha in a couple of days.

[2015-07-30 18:31] solnic commented on #293
If you already have a nested input there's no need to map it further. Just define a command that takes a client with nested address and that's it. Combine transformation is used to join parent and its child collections in memory using provided join keys. Typically you use it for eager-loading of associations.

Anyhow, something like that should work:

[code]

Lemme know if that works.

[2015-07-31 09:00] waiting-for-dev commented on #293
Many thanks for your response.

I was begining to smell redundance in that second mapper :) Anyway, for someone who could be interested in mapping from a nested hash, `embedded` did the trick.

So, just out of curiosity, is `combined` in mapper API tied to relational databases?

Now, about my problem. First, just a detail, my foreign key is in `client` and not in `address`, because there is anothe

[2015-07-31 09:16] nepalez commented on #293
@waiting-for-dev Concerning your last update.

The problem is that wrap operation removes from root those attributes, that have been wrapped. There is no way to wrap attributes and add their substitutes (under the same name) at once (in one step).

As a solution I'd propose doing this in 2 steps (though it is ~2 times slower):

[code]

[2015-07-31 09:53] solnic commented on #293
I would also recommend not using `reject_keys` since data are coming from *your relations* that you can trust.

Regarding composed commands - the input needs to have `:address` in the root if you configured `{ address: :destination_address }` as it means "there will be `:address` key with its attributes and handle it use `destination_address` relation.

This is the latest addition to the API so as

[2015-07-31 11:43] waiting-for-dev commented on #293
Thanks a lot both for your help.

About `wrap` option. Do you think that this should be the behaviour? I understand the logic about removing it from top level and nesting it, but I think it is not a too weird use case willing to have two attributes with the same name in both levels, even if one of them is not actually mapped but generated on-the-fly.

About my problem... I changed my mapper to wra

[2015-07-31 12:47] solnic commented on #293
Yes, you need to wrap client inside address because the structure of the input defines hierarchy, so if client has an address it means it must be nested inside address hash.

Unfortunately for now you need to explicitly define input for commands so that it will reject those extra keys coming from combine commands, I consider it a bug and will fix it soon, commands should skip those keys automatica

[2015-07-31 13:41] waiting-for-dev commented on #293
Hey, many, many thanks again :)

Now, it is working :D

Just two considerations to let you know:

* I know that having `Model` in `rom-rails` gem is temporary, but, for the sake of information, I have had to also add `activemodel` in my gemspec file and require it just before `rails/model`.

* Finally, I have to use two `step` in my model (are you still sure that this shouldn't be considered a bug

[2015-07-31 13:55] solnic opened #294 "require "rom/model" in rom-rails is missing dependencies"
We need to add requires for all the AM parts that we depend on. Other things to check:

- `require "rom/model/form"` should work
- `require "rom/model/attributes"` should work
- `require "rom/model/validator"` should work

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25215739-require-rom-model-in-rom-rails-is-missing-dependencies?u

[2015-07-31 13:58] solnic commented on #293
Awesome to know it worked for you :) Sorry about the quirks, I'll be fixing / improving things in next releases.

Regarding require issues - I gotta fix that, there's a big emphasis put in ROM on proper requires so that each component should be "requireable" separately.

As far as multi-step wrap goes, you only need wrap once, in the second step you can access wrapped address with `embedded :addre

[2015-07-31 13:58] solnic commented on #293
ps. I reported #294 about that require problem in rom/model

[2015-07-31 14:05] waiting-for-dev commented on #293
Ok, thanks about the `embedded` tip, I'll do it. Also I'll check about setting default values in the commands, I have to look closer to the commands API. But it makes all the sense :)

[2015-08-05 13:45] kwando commented on #199
In recent versions of ROM one can achieve the desired output with this mapper definition.

[code]

[2015-08-07 09:29] rolfb commented on #205
@lukeses I've done some initial work in https://github.com/rom-rb/rom-json, but writing is still missing. Is that something you'd care to look into?

[2015-08-07 10:10] AMHOL commented on #205
Think it would be better to have a `rom-file` adapter, then plugin an encoder/decoder each would take a string and convert to the required format, kind of like how rom-http will work

[2015-08-07 10:50] solnic commented on #205
Yeah that is the plan actually. Think we're getting there with csv yaml and
now json adapters having so much in common.

On Fri 7 Aug 2015 at 12:10 Andy Holland <notifications@github.com> wrote:

[2015-08-07 14:04] solnic commented on #256
After some further chats I think this would make most sense:

* `rom-core` - support libs, core APIs + `environment` + `relation` + `command`
* `rom-mapper` - self explanatory
* `rom` becomes `rom-core` + `rom-mapper` meta gem

[2015-08-07 14:08] cflipse commented on #256
:+1: Looks good to me.

Though, I'll note with amusement that this means that the core of `Ruby Object Mapper` does not, in fact, contain a mapper.  :D

[2015-08-07 14:17] solnic commented on #256
![memimg](http://cdn.meme.am/instances/500x/63927952.jpg)

[2015-08-07 14:42] AMHOL commented on #256
https://www.youtube.com/watch?v=ggV6LoYaQmg

[2015-08-09 22:27] solnic commented on #256
Done. we ended up with rom and rom-rb/rom-support and rom-rb/rom-mapper

[2015-08-09 22:27] #256 closed

[2015-08-10 21:20] solnic commented on #205
Closing this one as we have rom-json now :boom:

[2015-08-10 21:20] #205 closed

[2015-08-10 21:21] solnic commented on #142
So, this is finally addressed. We ended up with an optional plugin that enables auto-registration. Disabled by default, to enable you can do `ROM.use :auto_registration`.

[2015-08-10 21:21] #142 closed

[2015-08-10 21:23] solnic commented on #153
With [rom-repository](https://github.com/rom-rb/rom-repository) building aggregates is trivial; hence this is finally not an issue. Closing :boom:

[2015-08-10 21:23] #153 closed

[2015-08-10 21:23] solnic commented on #46
Closing as the README is now nice-enough ;)

[2015-08-10 21:23] #46 closed

[2015-08-10 21:26] solnic commented on #293
I hope things are working well for you. Gonna close this one for now. Please report issues if you have trouble with anything.

[2015-08-10 21:26] #293 closed

[2015-08-12 07:59] solnic commented on #294
This issue was moved to rom-rb/rom-rails#41

[2015-08-12 07:59] #294 closed

[2015-08-12 08:00] solnic commented on #290
This issue was moved to rom-rb/rom-rails#42

[2015-08-12 08:00] #290 closed

[2015-08-12 08:01] solnic commented on #285
This issue was moved to rom-rb/rom-rails#43

[2015-08-12 08:01] #285 closed

[2015-08-12 08:01] solnic commented on #279
This issue was moved to rom-rb/rom-rails#44

[2015-08-12 08:01] #279 closed

[2015-08-12 08:02] solnic commented on #276
This issue was moved to rom-rb/rom-rails#45

[2015-08-12 08:02] #276 closed

[2015-08-12 08:02] solnic commented on #275
This issue was moved to rom-rb/rom-rails#46

[2015-08-12 08:02] #275 closed

[2015-08-12 08:03] solnic commented on #262
This issue was moved to rom-rb/rom-rails#47

[2015-08-12 08:03] #262 closed

[2015-08-12 08:04] solnic commented on #286
This issue was moved to rom-rb/rom-mapper#8

[2015-08-12 08:04] #286 closed

[2015-08-12 08:04] solnic commented on #265
This issue was moved to rom-rb/rom-mapper#9

[2015-08-12 08:04] #265 closed

[2015-08-12 08:04] solnic commented on #241
This issue was moved to rom-rb/rom-mapper#10

[2015-08-12 08:04] #241 closed

[2015-08-12 08:07] solnic commented on #164
Closing as we now we have `steps` which can be used to accomplish the same goal

[2015-08-12 08:07] #164 closed

[2015-08-12 08:08] solnic commented on #199
I copied this issue to rom-mapper repo https://github.com/rom-rb/rom-mapper/issues/11

[2015-08-12 08:08] #199 closed

[2015-08-12 08:10] solnic commented on #244
This will work now starting from 0.9.0 as Lazy behavior was merged into Relation and adapter DSL is no longer hidden so we don't mess with `method_added` and `exposed_relations` is no longer needed.

One small caveat is that if you want `auto_curry` to work with methods included from a module you will have to manually call `auto_curry name_of_the_method`.

[2015-08-12 08:10] #244 closed

[2015-08-12 08:11] solnic commented on #255
Lazy with method_missing is gone so this is fixed too :)

[2015-08-12 08:11] #255 closed

[2015-08-12 08:12] solnic commented on #128
This issue was moved to rom-rb/rom-mapper#12

[2015-08-12 08:12] #128 closed

[2015-08-12 08:13] solnic commented on #86
With 16+ adapters built I think we did a good job :) Still more to do but I think we can close this issue. Re-open in case you disagree.

[2015-08-12 08:13] #86 closed

[2015-08-12 10:09] solnic opened #299 "Deprecate `validator` in Command API"
My experience so far has been that `validator` in command is a neat feature but only when you use a single command and validation is trivial.

More typical scenarios include more complicated validation logic and combining commands. In such cases validator set on an individual command is not feasible as it doesn't allow you to gather all errors and return them to the client as validator raises so i

[2015-08-12 10:50] gotar commented on #299
I use those validation everywhere. Very useful for me.

[2015-08-12 13:20] solnic commented on #299
@gotar I would support it as a command plugin.

What do you say?

[2015-08-12 13:59] gotar commented on #299
Then why not, fair enough.

[2015-08-12 19:39] angeloashmore opened #300 "Publish rom-rethinkdb to RubyGems"
Are there plans to publish [rom-rb/rom-rethinkdb](https://github.com/rom-rb/rom-rethinkdb) to RubyGems? Or is it still a WIP and not ready for use?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25697335-publish-rom-rethinkdb-to-rubygems?utm_campaign=plugin&utm_content=tracker%2F155789&utm_medium=issues&utm_source=github)** We accep

[2015-08-12 19:46] solnic commented on #300
Yes, unfortunately nobody has found the time to do that yet :) I can push what we have as 0.0.1. It probably needs a couple smaller updates but it shouldn't take too long.

Are you a RethinkDB user? I've been reading about it and it seems pretty awesome. Would love to try it out.